<aside class="main-sidebar">
    <section class="sidebar">
       <ul class="sidebar-menu">
        <li class="header">&nbsp;</li>
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i>
              <span>接口管理</span>
              <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="/interface/list/"><i class="fa fa-circle-o"></i>接口列表</a></li>
          </ul>
        </li>
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i>
              <span>冒烟用例集</span>
              <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="/caseset/casesetlist/"><i class="fa fa-circle-o"></i>用例集列表</a></li>
          </ul>
        </li>
       <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i>
              <span>配置中心</span>
              <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <!--li class="active"><a href="/product/list/"><i class="fa fa-circle-o"></i>产品管理</a></li-->
            <li><a href="/product/module_list/"><i class="fa fa-circle-o"></i>产品模块管理</a></li>
          </ul>
        </li>

    </ul>
    </section>
</aside>