<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.netease.ad.omp.dao.sys.mapper.UserMapper">

	<!-- 根据条件查询用户列表信息 -->
    <select id="selectUserByConditons" resultType="com.netease.ad.omp.vo.UserVo" parameterType="com.netease.ad.omp.vo.UserVo">
		SELECT
			u.user_id AS userId,
			u.user_name AS userName,
		    u.nick_name as nickName,
			u.email AS email,
			u.remarks AS remarks,
			u.user_status AS userStatus,
			GROUP_CONCAT(r.role_name) AS roleNames,
		    GROUP_CONCAT(r.role_code) AS roleCodez,
			u.create_time AS createTime,
			u.update_time AS updateTime,
			u.operator_id AS operatorId,
			u.operator_name AS operatorName
		FROM
		sys_user AS u
		LEFT JOIN sys_user_rel_roles AS ur  ON u.user_id = ur.user_id
		LEFT JOIN sys_role AS r ON ur.role_id = r.role_id
		WHERE 1 = 1
		AND u.data_status = 0
		AND r.role_status = 0
		<if test="userId != null">
			AND u.user_id = #{userId}
		</if>
		<if test="email != null">
			AND u.email = #{email}
		</if>
		<if test="userName != null">
			AND u.user_name like CONCAT('%',#{userName},'%')
		</if>
		<if test="userStatus != null">
			AND u.user_status = #{userStatus}
		</if>
		<if test="roleCode != null">
			AND r.role_code = #{roleCode}
		</if>
		<if test="roleCodes != null">
			AND r.role_code in
			<foreach item="item" index="index" collection="roleCodes"
					 open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		GROUP BY u.user_id
        ORDER  BY u.create_time DESC

	</select>
    
    <!-- 根据用户的账号查询出该用户对应的角色和资源 -->
    <select id="selectRolesAndPermissionsByUserId" resultType="java.util.HashMap" parameterType="java.lang.Integer">
	     SELECT DISTINCT
			u.user_id AS userId,
            u.nick_name as nickName,
			p.code AS permissionCode,
			p.name As permission,
			p.id As permissionId,
			p.url AS permissionUrl,
			r.role_id AS roleId,
			r.role_name AS roleName,
			r.role_code As roleCode
		FROM
			sys_user as u
      JOIN sys_user_rel_roles urR ON u.user_id = urR.user_id
      JOIN sys_role as  r ON r.role_id = urR.role_id
      JOIN sys_role_rel_permission as rpR ON r.role_id = rpR.role_id
      JOIN sys_permission as p ON p.id = rpR.role_rel_permission_id
  
		WHERE
			u.user_id = #{value}
	   AND r.role_status = 0
	   AND p.status = 0
	   AND u.user_status= 0
       AND u.data_status = 0
    </select>
   
    <!--  -->
    <insert id="insertUser" parameterType="com.netease.ad.omp.entity.sys.User">
    	INSERT INTO sys_user
    	(
    	   user_name,
    	   nick_name,
    	   password,
    	   email,
    	   create_time,
    	   update_time,
    	   operator_id,
    	   operator_name,
    	   user_status
    	)
    	VALUE
    	(
    	   #{userName},
    	   #{nickName},
    	   #{password},
    	   #{email},
    	   #{createTime},
    	   #{updateTime},
    	   #{operatorId},
    	   #{operatorName},
    	   #{userStatus}
    	)
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="userId">
			SELECT LAST_INSERT_ID() AS userId
		</selectKey>
    </insert>
    
</mapper>