<!-- 广告主 审核 详情-->
<div id="omp-advertiser-aduit-detail">
    <div class="omp-advertiser-detail">
        <!-- 左切换 -->
        <a class="omp-turnleft" href="" ng-show="info.leftBtnShow" ng-click="event.switchAduit('prev')"></a>
        <!-- 右切换 -->
        <a class="omp-turnright" href="" ng-show="info.rightBtnShow" ng-click="event.switchAduit('next')"></a>
        <!-- 关闭 -->
        <a class="omp-detail-close" href="" ng-click="event.close()"></a>
        <p class="omp-title">{{info.title}}</p>
        <!-- 广告主资质信息 -->
        <div class="omp-detail-left">
            <!-- 基本信息展示 29为广告主基本信息号-->
            <div ng-if="info.cid == 29" class="detail-left-info">
                <ul>
                    <li>
                        <label>广告主名称</label><span>:</span>
                        <label>{{info.name | checkNull}}</label>
                    </li>
                    <li>
                        <label>网址</label><span>:</span><a target="_blank" href="{{info.url | checkHTTP}}">{{info.url}}</a></li>
                    <li>
                        <label>行业</label><span>:</span>
                        <label>{{info.industryDetail | checkNull}}</label>
                    </li>
                </ul>
            </div>
            <!-- 显示带图信息 -->
            <div ng-if="info.cid != 29" class="detail-left-img">
                <div class="omp-detail-left-nav">
                    <a ng-repeat="node in imgs" ng-class="{true:'focus',false:'blur'}[node.show]" ng-click="event.switchImg($index)" ng-if="node.hideBtn">.</a>
                </div>
                <ul>
                    <li ng-repeat="node in imgs" ng-show="node.show">

                        <img ng-if="node.download === false" ng-src="{{node.src}}">
                        <!--add by wangyuzhu-->
                        <img class="imgDownloadZip" ng-if="data.downloadZip === true && node.download === true" src="./css/_images/compressed-files-icon.png">
                        <a class="nodeDownload" ng-if="node.download === true" target="_blank" href="{{node.src}}">点击下载文件</a>
                        <!--add end-->
                    </li>
                </ul>
            </div>
        </div>
        <!-- 带图展示 -->
        <div class="omp-detail-right">
            <ul>
                <!--<li>-->
                    <!--<label>最近一次审核结果</label><span>:</span>-->
                    <!--<label>-->
                        <!--<span ng-class="{'拒绝':'status-reject',false: 'status-r'}[info.statusStr]">{{info.statusStr | isNeedAudit}}</span>-->
                        <!--<span ng-show="info.statusStr == '拒绝'"><span ng-show="info.reason">({{info.reason}})</span></span>-->
                    <!--</label>-->
                <!--</li>-->
                <li>
                    <label>审核</label>
                </li>
                <li>
                    <div class="omp-aduit-judge">
                        <!-- 时间空间 -->
                        <div class="omp-datetimepicker" ng-if="info.expireNeed == 'true'">
                            <label><span ng-if="info.required == 'true'">*</span>审核失效日期</label>
                            <datetimepicker dateID="timepicker" ng-model="info.expireTimeStr" timer="false" format="Y-m-d"></datetimepicker>
                            <p>{{info.expireWarning}}</p>
                            <a ng-if="info.required == 'false'" ng-click="event.clearExpireTime()">清空失效日期</a>
                        </div>
                        <p>拒绝原因</p>
                        <div class="omp-judge-list">
                            <div class="omp-judge-reason-list">
                                <table>
                                    <tr ng-repeat="reasonRow in rejectReasons">
                                        <td ng-repeat="reasonItem in reasonRow track by $index" class="omp-judge-text">
                                            <input type="checkbox" ng-checked="reasonItem.checked" ng-click="event.checked($parent.$index,$index)">
                                            <label> {{reasonItem.reason}}</label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <label class="text-length-tips"><span ng-class="{true:'overlength',false:''}[info.inputCharLength > 200]">{{info.inputCharLength}}</span>/200</label>
                            <textarea id="texton" ng-disabled="info.textareaDisabled" ng-keyup="event.jiance()" ng-init="0"
							ng-model="info.input" ng-blur="event.inputBlur(info.input)"
							ng-change="event.fixInputCnLength(info.input)" maxlength="200"></textarea>
                        </div>
                        <div class="omp-judge-btns">
                            <span ng-class="{'grey': info.warning == '操作成功'}">{{info.warning}}</span>
                            <button class="btn1" ng-click="event.reject()">拒绝</button>
                            <button class="btn2" ng-click="event.pass()">通过</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
