<!-- 广告主 NEX -->
<div id="omp-advertiser-nex">
    <!-- 页面标题导航  -->
    <p>NEX广告主审核列表</p>
    <!-- 页面内容区 -->
    <div class="omp-content">
        <div class="omp-search">
            <label>DSP</label>
            <div class="omp-select1">
                <span>{{search.dsp.name}}</span>
                <select ng-model="search.dsp" ng-options="node.name for node in search.dspList">
                    <option value="" ng-if="false"></option>
                </select>
            </div>
            <label>行业</label>
            <div class="omp-select2">
                <span>{{search.sup.name}}</span>
                <select ng-model="search.sup" ng-options="node.name for node in search.industry" ng-change="event.industry(search.sup.id)">
                    <option value="" ng-if="false"></option>
                </select>
            </div>
            <div class="omp-select2">
                <span>{{search.sub.name}}</span>
                <select ng-model="search.sub" ng-options="node.name for node in search.subIndustry">
                    <option value="" ng-if="false"></option>
                </select>
            </div>
            <label>审核状态</label>
            <div class="omp-select1">
                <span>{{search.status.name}}</span>
                <select ng-model="search.status" ng-options="node.name for node in search.statusList">
                    <option value="" ng-if="false"></option>
                </select>
            </div>
            <label>广告主ID/名称</label>
            <div class="omp-input-container">
                <label>{{data.inputWarning}}</label>
                <input type="text" ng-blur="event.inputLengthCheck(search.input)" ng-model="search.input">
                <button ng-click="event.search()">查询</button>
            </div>
            <div class="omp-middle-flag"></div>
        </div>
        <!-- 仅在待审状态 且 普通审核员显示按键 -->
        <div class="omp-tips" ng-show="data.role == 2 && data.lastSearchStatus === 0 && data.userStatus === 0">
            <button ng-class="{true:'btn-disable',false:'btn-green'}[data.userStatus === 1]" ng-if="data.role == 2" ng-click="event.audit('',search.status.id)">开始审核</button>
            <div class="omp-middle-flag"></div>
        </div>
        <div class="omp-tips" ng-show="data.role == 2 && data.userStatus === 1">
            <button ng-class="{true:'btn-disable',false:'btn-green'}[data.userStatus === 1]" ng-if="data.role == 2">开始审核</button>
            <div class="omp-middle-flag"></div>
        </div>
        <div class="omp-list">
            <div class="omp-list-head">
                <table>
                    <tr>
                        <th class="col-8">广告主ID</th>
                        <th class="col-17">广告主名称</th>
                        <th class="col-6">审核状态</th>
                        <th class="col-9">一级行业</th>
                        <th class="col-9">二级行业</th>
                        <th class="col-6">DSP ID</th>
                        <th class="col-10">DSP公司</th>
                        <th class="col-6">渠道销售人</th>
                        <th class="col-15 omp-button-sort" ng-click="event.sort('sub_time')" style="min-width: 155px;">
                            <p>提交资质时间</p>
                            <a class="omp-sort-up" ng-hide="data.sortDir === 'DESC' && data.sortKey === 'sub_time'"></a>
                            <a class="omp-sort-down" ng-hide="data.sortDir === 'ASC' && data.sortKey === 'sub_time'"></a>
                        </th>
                        <th class="omp-button-sort" ng-click="event.sort('last_aduit_time')" style="min-width: 155px;">
                            <p>最后审核时间</p>
                            <a class="omp-sort-up" ng-hide="data.sortDir === 'DESC' && data.sortKey === 'last_aduit_time'"></a>
                            <a class="omp-sort-down" ng-hide="data.sortDir === 'ASC' && data.sortKey === 'last_aduit_time'"></a>
                        </th>
                    </tr>
                </table>
            </div>
            <div class="omp-list-data">
                <p class="omp-list-data-none" ng-show="data.total === 0">该查询条件下无数据</p>
                <table ng-show="data.total > 0">
                    <tr ng-repeat="node in list" ng-class-odd="'omp-list-odd-line'">
                        <td class="col-8">
                            <p class="padding-20">{{node.dspAdvertiserId | checkNull}}</p>
                        </td>
                        <td class="col-17" style="text-align: center">
                            <a ng-show="data.role == 1 || (data.role == 2 && data.lastSearchStatus !== 0)" class="padding-10 a-manage" ng-click="event.audit(node.id,search.status.id)">{{node.name | checkNull}}</a>
                            <a ng-show="data.role == 2 && data.lastSearchStatus === 0" class="padding-10 a-user a-manage">{{node.name | checkNull}}</a>
                        </td>
                        <td class="col-6">
                            <p class="padding-15">{{node.statusStr | checkNull}}</p>
                        </td>
                        <td class="col-9">
                            <p class="padding-32">{{node.industryStr | checkNull}}</p>
                        </td>
                        <td class="col-9">
                            <p class="padding-32">{{node.subIndustryStr | checkNull}}</p>
                        </td>
                        <td class="col-6">
                            <p class="padding-20">{{node.dspId | checkNull}}</p>
                        </td>
                        <td class="col-10">
                            <p class="padding-30">{{node.dspName | checkNull}}</p>
                        </td>
                        <td class="col-6">
                            <p class="padding-30">{{node.channelSaler | checkNull}}</p>
                        </td>
                        <td class="col-15" style='text-align: center;min-width: 155px;'>
                            <p class="p-datetime" >{{node.subTimeStr | checkNull}}</p>
                        </td>
                        <td style='text-align: center;min-width: 155px;'>
                            <p class="p-datetime" >{{node.lastAuditTimeStr | checkNull}}</p>
                        </td>
                    </tr>
                </table>
            </div>
            <page-filter></page-filter>
        </div>
    </div>
</div>
