<!-- 创意 管理 -->
<div id="omp-creativity-manage">
    <div ng-include="'./common/template/popImageShow.html'"></div>
    <!-- 页面标题导航  -->
    <p>创意管理</p>
    <!-- 页面内容区 -->
    <div class="omp-content">
        <!-- 查询栏 -->
        <div class="omp-search">
            <label>产品线</label>
            <div class="omp-select3">
                <span>{{search.category.name}}</span>
                <select ng-model="search.category" ng-options="node.name for node in search.categoryList" ng-change="event.changeCategory(search.category.id)">
                    <option value="" ng-if="false"></option>
                </select>
            </div>
            <label>代理商/DSP</label>
            <div class="omp-select1">
                <span>{{search.dspAgent.name}}</span>
                <select ng-model="search.dspAgent" ng-options="node.name for node in search.dspAgentList">
                    <option value="" ng-if="false"></option>
                </select>
            </div>
            <label>广告主ID/名称</label>
            <div class="omp-input-container">
                <label>{{data.inputWarning}}</label>
                <input type="text" ng-blur="event.inputLengthCheck(search.inputAdvertiser,'inputWarning',42,'最多为42个字符')" ng-model="search.inputAdvertiser"
                    class="omp-manage-input">
            </div>
            <label>展现形式</label>
            <div class="omp-select2">
                <span>{{search.mediaType.name}}</span>
                <select ng-model="search.mediaType" ng-options="node.name for node in search.mediaTypeList">
                    <option value="" ng-if="false"></option>
                </select>
            </div>
            <label>创意标题</label>
            <div class="omp-input-container">
                <label>{{data.inputWarningTitle}}</label>
                <input ng-model="search.inputTitle" ng-blur="event.inputLengthCheck(search.inputTitle,'inputWarningTitle',44,'最多为44个字符')"
                    class="omp-manage-input" type="text">
            </div>
            <label>创意ID</label>
            <div class="omp-input-container omp-input-container-fix">
                <label>{{data.inputWarningId}}</label>
                <input ng-model="search.inputCreateId" ng-blur="event.inputLengthCheck(search.inputCreateId,'inputWarningId',20,'最多为20个字符')"
                    class="omp-input1" type="text">
            </div>
            <button ng-click="event.search()">查询</button>
            <div class="omp-middle-flag"></div>
        </div>
        <div class="omp-list" style="overflow: hidden;">
            <div class="omp-list-head">
                <table>
                    <tr>
                        <th class="col-3">ID</th>
                        <th class="col-5">创意ID</th>
                        <th class="col-5">广告主ID</th>
                        <th class="col-6">广告主名称</th>
                        <th class="col-5">行业</th>
                        <th class="col-5">产品线</th>
                        <th class="col-6">
                            <p>代理商</p>
                            <p>/&nbsp;DSP</p>
                        </th>
                        <th class="col-6">展现形式</th>
                        <th class="col-17">素材</th>
                        <th class="col-7">标题</th>
                        <th class="col-10">点击URL</th>
                        <th class="col-10">下载URL</th>
                        <th class="col-6">状态</th>
                        <th class="col-9">
                            <p>最后操作</p>
                        </th>
                    </tr>
                </table>
            </div>
            <div class="omp-list-data">
                <p class="omp-list-data-none" ng-show="data.total === 0">该查询条件下无数据</p>
                <table ng-show="data.total > 0">
                    <tr ng-repeat="node in listM" ng-class-odd="'omp-list-odd-line'">
                        <td class="col-3">
                            <p class="padding-20">{{node.id}}</p>
                        </td>
                        <td class="col-5">
                            <a ng-click="event.audit(node.advertiserId,node.categoryStr,3,node.advertiserId,false,node.id,node.dspIdeaId)" class="padding-20 a-manage">{{node.dspIdeaId}}</a>
                        </td>
                        <td class="col-5">
                            <p class="padding-20">{{node.dspAdvertiserId}}</p>
                        </td>
                        <td class="col-6">
                            <p class="padding-17">{{node.advertiserName}}</p>
                        </td>
                        <td class="col-5">
                            <p class="padding-15">{{node.industryDetail}}</p>
                        </td>
                        <td class="col-5">
                            <p class="padding-25">{{node.categoryStr}}</p>
                        </td>
                        <td class="col-6">
                            <p class="padding-15">{{node.dspAgent}}</p>
                        </td>
                        <td class="col-6">
                            <p class="padding-10">{{node.typeStr}}</p>
                        </td>
                        <!-- 默认空类型 -->
                        <td ng-if="node.typeStr === ''" class="col-15"></td>
                        <!-- 信息图文 下载图-->
                        <td ng-if="node.typeStr == '信息流-图文' || node.typeStr == '信息流-下载图文'" class="col-15 omp-list-data-imgs img-tuwen">
                            <!-- 缩略图 -->
                            <img ng-src="{{node.materials[0]}}">
                            <!-- 浮动大图 -->
                            <img ng-src="{{node.materials[0]}}">
                        </td>
                        <!-- 信息流大图 下载大图-->
                        <td ng-if="node.typeStr == '信息流-大图' || node.typeStr == '信息流-下载大图'" class="col-15 omp-list-data-imgs img-datu">
                            <!-- 缩略图 -->
                            <img ng-src="{{node.materials[0]}}">
                            <!-- 浮动大图 -->
                            <img ng-src="{{node.materials[0]}}">
                        </td>
                        <!-- 信息流三图 -->
                        <td ng-if="node.typeStr == '信息流-三图'" class="col-17 omp-list-data-imgs img-santu">
                            <img ng-src="{{node.materials[0]}}" ng-click="event.showImgDetail(node.typeStr,node.materials)">
                            <img ng-src="{{node.materials[1]}}" ng-click="event.showImgDetail(node.typeStr,node.materials)">
                            <img ng-src="{{node.materials[2]}}" ng-click="event.showImgDetail(node.typeStr,node.materials)">
                            <p ng-click="event.showImgDetail(node.typeStr,node.materials)">查看详情</p>
                        </td>
                        <!-- 信息流GIF -->
                        <td ng-if="node.typeStr == '信息流-GIF'" class="col-15 omp-list-data-imgs img-gif">
                            <img ng-src="{{node.materials[0]}}" ng-click="event.showImgDetail(node.typeStr,node.materials)">
                            <p ng-click="event.showImgDetail(node.typeStr,node.materials)">查看详情</p>
                        </td>
                        <!-- 信息流视频 -->
                        <td ng-if="node.typeStr == '信息流-视频'" class="col-15 omp-list-data-imgs img-vedio">
                            <img ng-src="{{node.materials[0]}}" ng-click="event.showImgDetail(node.typeStr,node.materials)">
                            <p ng-click="event.showImgDetail(node.typeStr,node.materials)">查看详情</p>
                        </td>
                        <td class="col-7">
                            <p class="padding-15">{{node.title}}</p>
                        </td>
                        <td class="col-10">
                            <a class="padding-10" target="_blank" href="{{node.clickUrl | checkHTTP}}">{{node.clickUrl}}</a>
                        </td>
                        <td class="col-10">
                            <p ng-if="node.androidUrl" class="padding-10">
                                <label>android:</label>
                                <a target="_blank" href="{{node.androidUrl | checkHTTP}}">{{node.androidUrl}}</a>
                            </p>
                            <p ng-if="node.iosUrl" class="padding-10">
                                <label>ios:</label>
                                <a target="_blank" href="{{node.iosUrl | checkHTTP}}">{{node.iosUrl}}</a>
                            </p>
                        </td>
                        <!-- 默认空状态 -->
                        <td ng-if='node.statusStr === "" || node.statusStr === null' class="col-6"></td>
                        <!-- 状态 待审核/作废 -->
                        <td ng-if="node.statusStr == '作废' || node.statusStr == '待审核'" class="col-6 omp-list-data-status">
                            <p>{{node.statusStr}}</p>
                        </td>
                        <!-- 通过 -->
                        <td ng-if="node.statusStr === '通过'" class="col-6 omp-list-data-status">
                            <p class="allow">通过</p>
                        </td>
                        <!-- 拒绝 -->
                        <td ng-if="node.statusStr === '拒绝'" class="col-6 omp-list-data-status">
                            <p class="reject">拒绝</p>
                            <p class="reason">查看原因</p>
                            <div class="reason-arrow"></div>
                            <div class="reason-tips">{{node.reason}}</div>
                        </td>
                        <td class="col-9">
                            <p style="text-align: center;padding-right: 5px;">{{node.operatorName}}</p>
                            <p style="text-align: center;padding-right: 5px;">{{node.operateTimeStr}}</p>
                        </td>
                    </tr>
                </table>
                <page-filter></page-filter>
            </div>
        </div>
    </div>
</div>
