<div class="omp-pop-container" ng-show="popCredential.show">
    <div class="omp-popAlert-opbg">
    </div>
    <div class="omp-pop-credential-content">
        <!-- 向前翻页 -->
        <a class="omp-pop-credential-prev" href="" ng-click="event.prevPopCredential()" ng-show="popCredential.index != popCredential.to"></a>
        <!-- 图片 -->
        <img ng-src="{{popCredential.material}}" ng-click="event.materialDownload()" />
        <!-- 向后翻页 -->
        <a class="omp-pop-credential-next" href="" ng-click="event.nextPopCredential()" ng-show="popCredential.index != popCredential.from"></a>
        <!-- 关闭按键 -->
        <a class="close" ng-click="popCredential.show = false" href="" style='position: absolute;top: 10%;right: 10%;'></a>
    </div>
    <!-- 透明背景色 点击关闭-->
    <div class="omp-pop-background" ng-click="popCredential.show = false"></div>
</div>
