<div class="omp-pop-container" ng-show="popImg.show">
    <div class="omp-popAlert-opbg">
    </div>
    <!-- 三图 -->
    <div ng-if="popImg.type === '信息流-三图'" class="omp-pop-img-content img-style-three">
        <a href="" ng-click="popImg.show = false" class="close"></a>
        <img ng-src="{{popImg.materials[0]}}">
        <img ng-src="{{popImg.materials[1]}}">
        <img ng-src="{{popImg.materials[2]}}">
    </div>
    <!-- GIF -->
    <div ng-if="popImg.type === '信息流-GIF'" class="omp-pop-img-content img-style-gif">
        <a href="" ng-click="popImg.show = false" class="close"></a>
        <img ng-src="{{popImg.materials[0]}}">
        <img ng-src="{{popImg.materials[1]}}">
    </div>
    <!-- 视频 -->
    <div ng-if="popImg.type === '信息流-视频'" class="omp-pop-img-content img-style-vedio">

        <a href="" ng-click="popImg.show = false" class="close"></a>
        <img ng-src="{{popImg.materials[0]}}">
        <video ng-src="{{$sce(popImg.materials[1])}}" controls="controls"></video>
    </div>
    <!-- 发票详情-查看大图 -->
    <div ng-if="popImg.type ==='资质文件-图片'" class="omp-pop-img-content invoice-img-style">
    	
    	<a href="" ng-click="popImg.show = false" class="close"></a>
    	<img class="bigimg" ng-src="{{popImg.bigImg}}" alt="">
    </div>
     <!-- 发票详情-查看pdf -->
    <div ng-if="popImg.type ==='资质文件-pdf'" class="omp-pop-img-content invoice-pdf-style">
    	
    	<a href="" ng-click="popImg.show = false" class="close"></a>
        <object width="1000px" height="1000px" class="bigpdf" data="{{popImg.bigPdf}}">
          <div>您需要升级浏览器才能正常浏览文件</div>
        </object>
    </div>
    <!-- 透明背景色 -->
    <div class="omp-pop-background" ng-click="popImg.show = false"></div>
</div>
