<div class="omp-popAlert-container" ng-show="popRefuseAlert.show">
    <div class="omp-popAlert-opbg">
    </div>
    <div class="omp-popAlert-content omp-popAlert-content-invoice-refuse">
    	<div class="omp-popAlert-header">
            <label>{{popRefuseAlert.header}}</label>
            <a href="" ng-click="popRefuseAlert.show = false"></a>
        </div>
        <!-- 发票详情页拒绝开具弹窗 -->
        <div class="omp-popAlert-content-confirm">
            <p class="content">{{popRefuseAlert.content1}}</p>
            <p class="tip1">{{popRefuseAlert.content2}}</p>
            <p class="tip2">此操作需格外谨慎</p>
            <div class="reason-textarea">
            	<span class="l">{{popRefuseAlert.content3}}: </span>
            	<textarea maxlength="100" ng-change="event.inputCnLength(popRefuseAlert.refuseContent)" class="r" ng-model="popRefuseAlert.refuseContent" ></textarea>
            </div>
            <div class="btns">
                <button class="confirm" ng-click="event.popAlertConfirmRefuse()">确定</button>
                <button class="cancel" ng-click="popRefuseAlert.show = false">取消</button>                
            </div>
        </div>
    </div>
</div>
