<!-- 页面下部 左部 menu -->
<div class="nex-menu-content">
    <ul>
        <li>
            <a class="nex-menu-manage" href="">审核管理</a>
        </li>
        <li class="nex-menu-advertiser">
            <a href="">广告主审核</a>
            <ul>
                <li><a href="">易效创意</a></li>
                <li><a href="">易效创意</a></li>
            </ul>
        </li>
        <li class="nex-menu-creativity">
            <a href="">创意审核</a>
            <ul>
                <li><a href="">易效创意</a></li>
                <li><a href="">NEX创意</a></li>
                <li><a href="">创意管理</a></li>
            </ul>
        </li>
    </ul>
</div>
