<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.netease.ad.omp.dao.advertiser.mapper.AdvertiserAduitLogsMapper">

    
    <insert id="batchInsertAdvertiserAduitLogs" useGeneratedKeys="true" parameterType="java.util.List">
    	INSERT INTO ad_advertiser_aduit_logs
    	(
    	   advertiser_id,
    	   dsp_advertiser_id,
    	   category,
    	   advertiser_credentials_id,
    	   credential_id,
    	   credential_name,
    	   aduit_status,
           last_aduit_status,
    	   reason,
    	   operator_id,
    	   operator_name,
    	   create_time
    	  ) 
    	VALUES
    	<foreach collection="list" item="item" index="index" separator="," >  
          (
            #{item.advertiserId},
            #{item.dspAdvertiserId},
            #{item.category},
            #{item.advertiserCredentialsId},
            #{item.credentialId},
            #{item.credentialName},
            #{item.aduitStatus},
            #{item.lastAduitStatus},
            #{item.reason},
            #{item.operatorId},
            #{item.operatorName},
            #{item.createTime}
          )  
        </foreach>  
    </insert>
</mapper>