<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.netease.ad.omp.dao.advertiser.mapper.AdvertiserMapper">

    <!-- 插入广告主并返回广告主id -->
    <insert id="insertAdvertiser" parameterType="com.netease.ad.omp.entity.advertiser.Advertiser">
        INSERT INTO ad_advertiser
        (
        dsp_advertiser_id ,
        name ,
        category ,
        `status` ,
        industry ,
        sub_industry ,
        url ,
        channel,
        agent_id ,
        agent_name,
        dsp_id ,
        dsp_name,
        channel_saler,
        sub_time,
        last_aduit_time,
        last_aduit_status ,
        create_time,
        update_time,
        account_status,
        data_status ,
        version
        )
        VALUES
        (
        #{dspAdvertiserId},
        #{name},
        #{category},
        #{status},
        #{industry},
        #{subIndustry},
        #{url},
        #{channel},
        #{agentId},
        #{agentName},
        #{dspId},
        #{dspName},
        #{channelSaler},
        #{subTime},
        #{lastAduitTime},
        #{lastAduitStatus},
        #{createTime},
        #{updateTime},
        #{accountStatus},
        #{dataStatus},
        #{version}
        )
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
    </insert>

    <!-- 通过条件查找广告主信息 -->
    <select id="selectAdvertiserByConditons" parameterType="com.netease.ad.omp.vo.AdvertiserVo"
            resultType="com.netease.ad.omp.entity.advertiser.Advertiser">
        SELECT
        ai.id AS id,
        ai.dsp_advertiser_id AS dspAdvertiserId,
        ai.name AS name,
        ai.category AS category,
        ai.`status` AS status,
        ai.industry AS industry,
        ai.sub_industry AS subIndustry,
        ai.url AS url,
        ai.channel AS channel,
        ai.agent_id AS agentId,
        ai.agent_name AS agentName,
        ai.dsp_id AS dspId,
        ai.dsp_name AS dspName,
        ai.channel_saler AS channelSaler,
        ai.sub_time AS subTime,
        ai.last_aduit_time AS lastAduitTime,
        ai.last_aduit_status AS lastAduitStatus,
        ai.create_time AS createTime,
        ai.update_time AS updateTime,
        ai.account_status AS accountStatus,
        ai.data_status AS dataStatus,
        ai.operator_name AS operatorName,
        ai.version AS version
        FROM
        ad_advertiser AS ai
        WHERE ai.data_status = 0 AND ai.account_status = 0
        <if test="category != null and category == 2 ">
            AND ai.id IN (
            SELECT
            a.id
            FROM
            ad_advertiser AS a
            JOIN ad_dsp AS dsp ON a.dsp_id = dsp.dsp_id
            WHERE
            dsp.account_flag = 1
            OR (dsp.account_flag = 0 AND a.status != 0 )
            )
        </if>
        <if test="id != null">
            AND ai.id = #{id}
        </if>
        <if test="dspAdvertiserId != null">
            AND ai.dsp_advertiser_id = #{dspAdvertiserId}
        </if>
        <if test="name != null">
            AND ai.name like CONCAT('%',#{name},'%')
        </if>
        <if test="category != null">
            AND ai.category = #{category}
        </if>
        <if test="status != null">
            AND ai.status = #{status}
        </if>
        <if test="industry != null">
            AND ai.industry = #{industry}
        </if>
        <if test="subIndustry != null">
            AND ai.sub_industry = #{subIndustry}
        </if>
        <if test="url != null">
            AND ai.url = #{url}
        </if>
        <if test="channel != null">
            AND ai.channel = #{channel}
        </if>
        <if test="agentId != null">
            AND ai.agent_id = #{agentId}
        </if>
        <if test="agentName != null">
            AND ai.agent_name = #{agentName}
        </if>
        <if test="dspId != null">
            AND ai.dsp_id = #{dspId}
        </if>
        <if test="dspName != null">
            AND ai.dsp_name = #{dspName}
        </if>
        <if test="channelSaler != null">
            AND ai.channel_saler = #{channelSaler}
        </if>
        <if test="subTime != null">
            AND ai.sub_time = #{subTime}
        </if>
        <if test="createTime != null">
            AND ai.create_time = #{createTime}
        </if>
        <if test="accountStatus != null">
            AND ai.account_status = #{accountStatus}
        </if>
        <if test="sort == null  or  sort == ''">
            ORDER BY update_time
        </if>

        <if test="sort != null  and sort != '' and sort == 'sub_time'">
            ORDER BY sub_time
        </if>
        <if test="sort != null  and sort != '' and sort == 'last_aduit_time'">
            ORDER BY last_aduit_time
        </if>
        <if test=" dir == null and dir == ''">
            ASC
        </if>
        <if test=" dir != null and dir != '' and dir == 'DESC'">
            DESC
        </if>
        <if test=" dir != null and dir != '' and dir == 'ASC'">
            ASC
        </if>

    </select>
    <!-- 查找待审核广告主id -->
    <select id="selectAuditAdvertiserPointers" resultType="java.util.HashMap">
   	 SELECT ai.id AS id ,ai.category as category , ai.update_time AS updateTime FROM ad_advertiser AS ai
     WHERE ai.account_status = 0 
     AND ai.data_status = 0
     AND ai.`status` = 0
     AND ai.id IN (
            SELECT
            a.id
            FROM
            ad_advertiser AS a
            JOIN ad_dsp AS dsp ON a.dsp_id = dsp.dsp_id
            WHERE
            dsp.account_flag = 1
            OR (dsp.account_flag = 0 AND a.status != 0 )
            OR a.dsp_id = 100000
            )
   </select>

    <!-- 设置广告主失效 -->
    <update id="updateAdvertiserInvalidStatus">
   	    UPDATE ad_advertiser AS ai
		JOIN ad_advertiser_credentials AS ac ON ai.id = ac.advertiser_id
		SET ai.`status` = 3 ,ai.update_time = NOW()
		WHERE
        <!-- （含以前未处理到的） -->
		<![CDATA[ to_days(ac.expire_time) <= to_days(now()) AND ai.`status` = 1  ]]>
   </update>

    <update id="updateCredentialInvalidStatus">
        UPDATE ad_advertiser_credentials AS ac
		SET ac.`status` = 3 ,ac.update_time = NOW()
		WHERE
        <!-- （含以前未处理到的） -->
			<![CDATA[ to_days(ac.expire_time) <= to_days(now()) AND ac.`status` = 1  ]]>
    </update>

    <!-- dsp帐户关闭，广告主状态也为关闭 -->
    <update id="updateAccountStatus" parameterType="java.lang.Long">
        UPDATE ad_advertiser SET account_status=3,update_time=NOW() WHERE id=#{id}
    </update>

    <!-- 通过条件查找广告主信息(for nex api) -->
    <select id="selectAdvertiserForApi" parameterType="com.netease.ad.omp.vo.AdvertiserVo" resultType="com.netease.ad.omp.entity.advertiser.Advertiser">
        SELECT
        ai.id AS id,
        ai.dsp_advertiser_id AS dspAdvertiserId,
        ai.name,
        ai.status,
        ai.industry,
        ai.sub_industry AS subIndustry,
        ai.indus,
        ai.dsp_id AS dspId,
        ai.dsp_name AS dspName,
        ai.sub_time AS subTime,
        ai.create_time AS createTime,
        ai.update_time AS updateTime,
        ai.data_status AS dataStatus
        FROM
        (SELECT
        ad.id AS id,
        ad.dsp_advertiser_id,
        ad.name,
        ad.`status`,
        ad.industry,
        ad.sub_industry,
        CONCAT(p.`name`, '-', s.name) AS indus,
        ad.dsp_id,
        ad.dsp_name,
        ad.sub_time,
        ad.create_time,
        ad.update_time,
        ad.data_status
        FROM
        ad_advertiser AS ad
        LEFT JOIN sys_industry p
        ON ad.`industry` = p.id
        LEFT JOIN sys_industry s
        ON ad.`sub_industry` = s.`id`
        WHERE ad.data_status = 0) ai WHERE 1=1
        <if test="(name != null and name != '') or (indus != null and indus != '')">
            AND (ai.name like CONCAT('%',#{name},'%') OR indus like  CONCAT('%',#{indus},'%'))
        </if>
        <if test="status != null">
            AND ai.status = #{status}
        </if>
        <if test="dspId != null">
            AND ai.dsp_id = #{dspId}
        </if>
        <if test="startTime != null and startTime != '' ">
            AND DATE_FORMAT(ai.sub_time,'%Y-%m-%d') &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND DATE_FORMAT(ai.sub_time,'%Y-%m-%d') &lt;= #{endTime}
        </if>
        ORDER BY ai.update_time DESC
    </select>

    <!-- 易效广告主冻结更新操作 -->
    <update id="updateAccountStatusForFrozen" parameterType="com.netease.ad.omp.entity.advertiser.Advertiser">
        UPDATE ad_advertiser
        <set>
            <if test="accountStatus != null">
                account_status = #{accountStatus,jdbcType=BIGINT}
            </if>
        </set>
        <where>
            <if test="dspId != null">
                dsp_id = #{dspId,jdbcType=BIGINT}
            </if>
            <if test="dspAdvertiserId != null">
               AND dsp_advertiser_id = #{dspAdvertiserId,jdbcType=BIGINT}
            </if>
        </where>
    </update>

</mapper>