<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.netease.ad.omp.dao.advertiser.mapper.AdvertiserCredentialsMapper">
	<update id="batchUpdateAdvertiserCredentials" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
			UPDATE ad_advertiser_credentials
			<set>
				<if test="item.expireTime != '' ">
					expire_time=#{item.expireTime},
				</if>
				<if test="item.status != null ">
					status=#{item.status},
				</if>
				<if test=" item.reason != null  ">
					reason=#{item.reason},
				</if>
				<if test=" item.reasonIds != null ">
					reason_ids=#{item.reasonIds},
				</if>
				<if test="item.refuseTime != '' ">
					refuse_time=#{item.refuseTime},
				</if>
				<if test="item.updateTime != '' ">
					update_time=#{item.updateTime},
				</if>
				<if test="item.operatorId != null and item.operatorId != '' ">
					operator_id=#{item.operatorId},
				</if>
				<if test="item.operatorName != null and item.operatorName != '' ">
					operator_name=#{item.operatorName}
				</if>
			</set>
			<where>
				<if test="item.id != null ">
					id=#{item.id}
				</if>
				<!--新添加的关联关系id-->
				<if test="item.relationId != null ">
					AND relation_id=#{item.relationId}
				</if>
			</where>
		</foreach>
	</update>
    <!-- 批量逻辑删除非创意资质 -->
	<update id="batchDeleteAdvertiserCredentials" parameterType="java.lang.Long">
		UPDATE ad_advertiser_credentials
		SET data_status = 1
		WHERE
		    `type` != 2 AND advertiser_id = #{id}
	</update>
</mapper>
