<div id="omp-invoice-detail" class="m-invoiceinfo">
	<div ng-include="'./common/template/popImageShow.html'"></div>
	<div class="omp-content omp-issued">
		<div class="issuedtop containertop clearfix">
			<h3 class="issued-title invoicetitle">发票开具信息<span class="firsttip" ng-show="invoiceInfo.firstCommit">(发票信息首次提交)</span></h3>
			<span ng-if='invoiceInfo.isOperateCancelBtnShow&&!invoiceInfo.checkPending' class="cancelbtn operatebtn" ng-click="event.handleOperateCancelBtnClick()">撤销</span>
			<span ng-if='invoiceInfo.isCheckBtnShow' class="checkbtn operatebtn" ng-click="event.handleCheckBtnClick()">审核</span>
			<a ng-if="invoiceInfo.isExportData" class="exportbtn operatebtn"  download="download" href="http://p4padmin.pangu.163.com/invoice/export?token={{invoiceInfo.token}}&exportType=2&dspId={{invoiceInfo.dspId}}">数据导出</a>
		</div>
		<ul class="issued-details">
			<li class="issueditem">
				<span class="issuedname">代理商名称：</span>
				<span class="issuedcontent" ng-bind="invoiceInfo.dspName"></span>
			</li>
			<li class="issueditem">
				<span class="issuedname">申请时间：</span>
				<span class="issuedcontent" ng-bind="invoiceInfo.creationDate"></span>
			</li>

			<li class="issueditem" ng-show="invoiceInfo.lastModifiedDate">
				<span class="issuedname">最后一次操作时间：</span>
				<span class="issuedcontent" ng-bind="invoiceInfo.lastModifiedDate"></span>
			</li>
			<li class="issueditem">
				<span class="issuedname">申请金额：</span>
				<span class="issuedcontent" ng-bind="invoiceInfo.applyAmount/100 | currency:''"></span>
			</li>
			<li class="issueditem">
				<span class="issuedname">发票开具状态：</span>
				<span class="issuedcontent" ng-style="{color:invoiceInfo.statusColor}" ng-bind="invoiceInfo.statusName"></span>
			</li>
		</ul>
	</div>
	<div class="omp-content omp-operate">
		<div class="operatetop containertop">
			<h3 class="operate-title invoicetitle">发票开具操作日志</h3>
		</div>

		<div class="nooperate" ng-show="invoiceInfo.status==0">暂无发票开具操作日志</div>
		<ul class="operate-details" ng-hide="invoiceInfo.status==0">
			<li ng-class="{'operateitem':true, 'unfold':operateitem.isUnfold, 'reason':operateitem.reason}" , ng-click="event.handleOperateItemClick(operateitem)" ng-repeat="operateitem in invoiceInfo.logs">
				<div class="operator-content">
					<span class="operate-name" ng-bind="operateitem.opTypeStr"></span>
					<span class="operator">操作人:<em  ng-bind="operateitem.operatorStr"></em></span>
					<span class="operate-time">操作时间:<em  ng-bind="operateitem.opDate"></em></span>
				</div>
				<div ng-if="operateitem.reason" class="operate-reason">
					<span class="reasontitle">拒绝原因:</span>
					<span ng-bind="operateitem.reason"></span>
				</div>
			</li>
		</ul>
	</div>
	<div class="omp-content omp-invoice">
		<div class="basicinfo">
			<h3 class="basictitle">发票基础信息</h3>
			<ul class="basic-details">
				<li class="basicitem invoicetype">
					<span class="basicname">发票类型</span>
						<span class="icon"></span>
					<span class="basiccontent invoiceproject">{{invoiceInfo.invoiceTypeName}}</span>
				</li>
				<li class="basicitem">
					<span class="basicname">发票抬头</span>
					<input type="text" class="basiccontent title" readonly="readonly" ng-value="invoiceInfo.invoiceTitle" />
				</li>
				<li class="basicitem">
					<span class="basicname">发票项目</span>
					<span class="basiccontent invoiceproject" ng-bind="invoiceInfo.invoiceItemTypeName"></span>
				</li>
				<li class="basicitem">
					<span class="basicname">发票开具金额</span>
					<input type="text" class="basiccontent" readonly="readonly" ng-value="invoiceInfo.applyAmount/100 | currency:''" /><span class="units">元</span>
				</li>
			</ul>
		</div>

		<div ng-if="invoiceInfo.invoiceType==1" class="companyinfo">
			<h3 class="basictitle">公司信息</h3>
			<ul>
				<li class="basicitem">
					<span class="basicname">公司名称</span>
					<input type="text" class="basiccontent" readonly="readonly" ng-value="invoiceInfo.corpName" />
					<span class="basicname">开户行</span>
					<input type="text" class="basiccontent" readonly="readonly" ng-value="invoiceInfo.corpBank" />
				</li>
				<li class="basicitem">
					<span class="basicname">纳税人识别码</span>
					<input type="text" class="basiccontent" readonly="readonly" ng-value="invoiceInfo.corpRateCode" />
					<span class="basicname">银行账号</span>
					<input type="text" class="basiccontent" readonly="readonly" ng-value="invoiceInfo.corpBankAccount" />
				</li>
				<li class="basicitem">
					<span class="basicname">地址</span>
					<input type="text" class="basiccontent address" readonly="readonly" ng-value="invoiceInfo.corpAddress" />
					<span class="basicname">电话</span>
					<input type="text" class="basiccontent" readonly="readonly" ng-value="invoiceInfo.corpTel" />
				</li>
			</ul>
		</div>
			
		<div ng-if="invoiceInfo.invoiceType==2" class="taxpayerinfo">
			<h3 class="basictitle">一般纳税人信息</h3>
			<ul class="taxpayer-details">
				<li ng-if="invoiceInfo.corpCertUrl" class="basicitem corpcert">
					<span class="basicname">资质文件</span>
					<img class="certimg" ng-src="{{invoiceInfo.corpCertUrl}}" alt="" ng-click="event.handleCheckBigImgClick(invoiceInfo.corpCertUrl)">
				</li>
				<li class="basicitem">
					<span class="basicname">资质文件有效期</span>
					<input type="text" class="basiccontent" readonly="readonly" ng-value="invoiceInfo.corpCertBegin+'至'+invoiceInfo.corpCertEnd" />
				</li>
				<li class="basicitem">
					<span class="basicname">公司名称</span>
					<input type="text" class="basiccontent" readonly="readonly" ng-value="invoiceInfo.corpName" />
					<span class="basicname">开户行</span>
					<input type="text" class="basiccontent" readonly="readonly" ng-value="invoiceInfo.corpBank" />
				</li>
				<li class="basicitem">
					<span class="basicname">纳税人识别码</span>
					<input type="text" class="basiccontent" readonly="readonly" ng-value="invoiceInfo.corpRateCode" />
					<span class="basicname">银行账号</span>
					<input type="text" class="basiccontent" readonly="readonly" ng-value="invoiceInfo.corpBankAccount" />
				</li>
				<li class="basicitem">
					<span class="basicname">地址</span>
					<input type="text" class="basiccontent" readonly="readonly" ng-value="invoiceInfo.corpAddress" />
					<span class="basicname">电话</span>
					<input type="text" class="basiccontent" readonly="readonly" ng-value="invoiceInfo.corpTel" />
				</li>
			</ul>
		</div>
			
		<div class="expressinfo">
			<h3 class="basictitle">快递信息</h3>
			<ul class="express-details">
				<li class="basicitem">
					<span class="basicname">联系人姓名</span>
					<input type="text" class="basiccontent" readonly="readonly" ng-value="invoiceInfo.contactPerson" />
				</li>
				<li class="basicitem">
					<span class="basicname">电话</span>
					<input type="text" class="basiccontent" readonly="readonly" ng-value="invoiceInfo.contactTel" />
				</li>
				<li class="basicitem">
					<span class="basicname">地址</span>
					<input type="text" class="basiccontent" readonly="readonly" ng-value="invoiceInfo.contactAddress" />
				</li>
			</ul>
		</div>
	</div>
	<div class="omp-operatebtn">
		<span ng-if="invoiceInfo.isIssuedBtnShow&&!invoiceInfo.checkPending"  class="operatebtn" ng-click="event.handleIssuedBtnClick()">标记开具</span>
		<span ng-if="invoiceInfo.isIssuedRefuseBtnShow&&!invoiceInfo.checkPending"  class="operatebtn op-refuse" ng-click="event.handleIssueRefusedBtnClick()">拒绝</span>
		<span ng-if="invoiceInfo.isInvoiceCancelBtnShow&&!invoiceInfo.checkPending" class="operatebtn" ng-click="event.handleInvoiceCancelBtnClick()">发票作废</span>
		<span ng-if="invoiceInfo.isMailedBtnShow&&!invoiceInfo.checkPending" class="operatebtn" ng-click="event.handleMailedBtnClick()">成功邮寄</span>
		<span ng-click="event.handleCloseClick()" class="operatebtn op-close"> 关闭 </span>
	</div>
	<div ng-include="'./common/template/popConfirm.html'"></div>
	<div ng-include="'./common/template/popRefuseConfirm.html'"></div>
	<div ng-include="'./common/template/popError.html'"></div>
</div>