<div id="omp-invoice-list" class="m-invoice">
 	<div class="omp-content">
        <div class="omp-search">
		    <div class="dsplist-top">	
		        <div class="omp-select2">
	                <span>{{data.dsp.name}}</span>
	                <select ng-model="data.dsp" ng-options="node.name for node in search.dspList">
	                    <option value="" ng-if="false"></option>
	                </select>
	            </div>
	            <div class="omp-select2">
	                <span>{{data.invoiceType.name}}</span>
	                <select ng-model="data.invoiceType" ng-options="node.name for node in search.invoiceTypeList">
	                    <option value="" ng-if="false"></option>
	                </select>
	            </div>
	            <div class="omp-select2 select-invoice-status">
	                <span>{{data.invoiceStatus.name}}</span>
	                <select ng-model="data.invoiceStatus" ng-options="node.name for node in search.invoiceStatusList">
	                    <option value="" ng-if="false"></option>
	                </select>
	            </div>
		        
                <div class="omp-input-container">
                 	<input daterangepicker class="daterangepicker_box " ng-model="data.beginEndDate" select="event.updateDate(start, end, label)"/>
		        </div>
		        <div class="omp-input-container name-search-wrapper">
		        	<label>{{data.inputWarning}}</label>		        	
		            <input type="input" placeholder="请输入发票ID/代理商名称" class="searchinput" ng-model="data.invoiceIdOrDspName" ng-blur="event.inputLengthCheck(data.invoiceIdOrDspName)">
		            <button class="searchicon" ng-click="event.handleSearchClick()">查询</button>
			        <!--<a class='omp-input-container exportbtn'  href="/invoice/export?id={{data.invoiceStatus.id}}&status={{data.invoiceStatus.id}}" target="_blank">批量导出</a>-->
			        <a class='omp-input-container exportbtn' download="download" href="http://p4padmin.pangu.163.com/invoice/export?token={{data.token}}&status={{data.invoiceStatus.id}}&dspId={{data.dsp.id}}&invoiceType={{data.invoiceType.id}}&invoiceIdOrDspName={{data.invoiceIdOrDspName}}&dateBegin={{data.dateBegin}}&dateEnd={{data.dateEnd}}" target="_blank">批量导出</a>
		        </div>
		    </div>
		</div>
		
        <div class="omp-tips" ng-if="checkBox.isIssuedBtnShow" >
        	<button class="btn-green btn-grey" ng-click="event.handleIssueBtnClick()">标记开具</button>
            <div class="omp-middle-flag"></div>
        </div>
        
        <div class="omp-list">
            <div class="omp-list-head">
                <table>
                    <tr>
                    	<th class="col-3" ng-if="checkBox.isIssuedBtnShow" ><input type="checkbox" ng-model="checkBox.selectAll" ng-change="event.selectAll()" /></th>
                        <th class="col-10">发票ID</th>
                        <th class="col-15">申请时间</th>
                        <th class="col-15">代理商名称</th>
                        <th class="col-10">申请金额(元)</th>
                        <th class="col-10">发票类型</th>
                        <th class="col-15">最近一次操作时间</th>
                        <th class="col-8">状态
                        	 <div class="statustip-wrapper">
		                        <span class="tipicon">?</span>
		                        <ul class="tipinfo">
		                            <li class="tipitem">未开具：未开具的发票</li>
		                            <li class="tipitem">未邮寄：已成功开具，尚未邮寄的发票</li>
		                            <li class="tipitem">已邮寄：销售邮寄发票，并已做邮寄标记</li>
		                            <li class="tipitem">已拒绝：提交的信息存在问题被拒的发票</li>
		                            <li class="tipitem">已作废：线下协商作废的发票</li>
		                        </ul>
                   			</div>
                        </th>
                        <th class="col-8">操作</th>
                    </tr>
                </table>
            </div>
            <div class="omp-list-data">
                <p class="omp-list-data-none" ng-show="total === 0">该查询条件下无数据</p>
                <table ng-show="total > 0">
                    <tr ng-repeat="node in list" ng-class-odd="'omp-list-odd-line'">
                    	<td class="col-3" ng-if="checkBox.isIssuedBtnShow" ><input type="checkbox" ng-model="node.checked" ng-change="event.selectOne()" /></td>
                        <td class="col-10">
                            <p>{{node.id}}</p>
                        </td>
                        <td class="col-15">
                            <p>{{node.creationDate | checkNull}}</p>
                        </td>
                        <td class="col-15">
                            <p>{{node.dspName | checkNull}}</p>
                        </td>
                        <td class="col-10">
                            <p>{{node.applyAmount ? (node.applyAmount/100 | currency :'') : '--'}}</p>
                        </td>
                        <td class="col-10">
                            <p>{{node.invoiceTypeName | checkNull}}</p>
                        </td>
                        <td class="col-15">
                            <p>{{node.lastModifiedDate | checkNull}}</p>
                        </td>
                        <td class="col-8">
                            <p ng-style={color:node.statusColor}>{{node.statusName | checkNull}}</p>
                        </td>
                         <td class="col-8">
                            <p><a ui-sref="invoice-detail({id:node.id,token:token})" target="_blank" class="blue" >查看</a></p>
                        </td>   
                    </tr>
                </table>
            </div>
	    <page-filter></page-filter>
	    </div>
	</div>
    <div ng-include="'./common/template/popConfirm.html'"></div>
    <div ng-include="'./common/template/popError.html'"></div>
</div>
