<!--权限管理-->
<div id="omp-authorize">
    <div ng-include="'./common/template/popConfirm.html'"></div>
    <div ng-include="'./common/template/popError.html'"></div>    
    <p>角色列表</p>
    <div class="omp-authorize-content">
        <div class="omp-buttons">
            <a href="/omp-app.html#/authorize/roleAdd">添加角色</a>
        </div>
        <div class="omp-list">
            <div class="omp-list-data">
                <table>
                    <tr>
                        <th>角色ID</th>
                        <th>角色名称</th>
                        <th>角色说明</th>
                        <th>操作</th>
                    </tr>
                    <tr ng-repeat="node in data.lists">
                        <td>
                            {{node.roleId | checkNull}}
                            <td>
                                {{node.roleName | checkNull}}
                            </td>
                            <td>
                                <p>{{node.roleDesc | checkNull}}</p>
                            </td>
                            <td>
                                <a href="/omp-app.html#/authorize/roleAdd?roleId={{node.roleId}}">修改</a><a ng-click="event.delete(node.roleId)">删除</a>
                            </td>
                    </tr>
                    <tr ng-show="data.total === 0">
                        <td colspan="4">
                            该查询条件下无数据
                        </td>
                    </tr>
                </table>
            </div>
            <page-filter></page-filter>
        </div>
    </div>
</div>