<!--权限管理-->
<div id="omp-authorize">
    <div ng-include="'./common/template/popConfirm.html'"></div>
    <div ng-include="'./common/template/popError.html'"></div>
    <div ng-include="'./common/template/popSuccess.html'"></div>
    <p><a href="/omp-app.html#/authorize/userList">用户列表</a>&nbsp;>&nbsp;{{title}}用户</p>
    <div class="omp-authorize-content">
        <table class="addUserTb">
            <tbody>
                <tr>
                    <td colspan="2" class="fontBold">
                        指定用户：
                    </td>
                </tr>
                <tr>
                    <td>
                        用户名：
                    </td>
                    <td>
                        <input type="text" ng-model="nickName" ng-show="title==='添加'" ng-blur="event.nickNameOnChange()" /><span ng-show="title==='修改'">{{nickName}}</span>@corp.netease.com
                        <div class="roleAdd-error" style="display:inline-block;margin-top:5px;position:absolute;" ng-show='nickNameError'>
                            {{nickNameError}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        用户姓名：
                    </td>
                    <td>
                        <input type="text" ng-model="userName" ng-blur="event.userNameOnChange()" />
                        <div class="roleAdd-error" style="display:inline-block;margin-top:5px;position:absolute;" ng-show='userNameError'>
                            {{userNameError}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="fontBold">
                        指定角色：
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="roleSelectTb">
                            <tbody>
                                <tr ng-repeat="row in list">
                                    <td ng-repeat="one in row">
                                        <input type='checkbox' ng-model="one.checked" id='{{one.roleId}}' name='{{one.roleId}}' value="{{one.roleId}}" ng-change='event.cbChange()'
                                        />
                                        <label for='{{one.roleId}}'>{{one.roleName}}</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="display:inline-block;top:15px;" class="roleAdd-error" ng-show='pList.length===0'>
                            请选择该用户对应的角色
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="omp-buttons">
            <a ng-click="event.add()">{{title}}</a>&nbsp;&nbsp;
            <a class='cancel' href="/omp-app.html#/authorize/userList">取消</a>
        </div>
    </div>
</div>