<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netease.ad.omp.dao.idea.mapper.IdeaMapper">
    <!--创意表字段-->
    <sql id="Idea_Column">
        c.id AS id,
        c.dsp_id AS dspId,
        c.dsp_idea_id AS dspIdeaId,
        c.dsp_advertiser_id AS dspAdvertiserId,
        c.type AS type,
        c.title AS title,
        c.click_url AS clickUrl,
        c.android_url AS androidUrl,
        c.ios_url AS iosUrl,
        c.operator_id AS operatorId,
        c.operator_name AS operatorName,
        c.update_time AS updateTime,
        c.status AS status,
        c.reason AS reason,
        c.material AS material,
        c.account_status AS accountStatus,
        c.reason_ids AS reasonIds,
        c.advertiser_id AS advertiserId,
        c.data_status AS dataStatus,
        c.category AS category,
        c.version AS version,
        c.create_time AS createTime,
        c.operator_time AS operatorTime
    </sql>

    <!--公共： in 查询 array参数 ids传递 -->
    <sql id="Include_InArray_ByIds">
        <foreach collection="array" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </sql>

    <!--创意易效/nex列表-->
    <select id="selectIdeaList" parameterType="com.netease.ad.omp.vo.IdeaVo" resultType="com.netease.ad.omp.vo.IdeaVo">
        SELECT
                a.id AS id,
                a.name AS name,
                a.channel AS channel,
                a.dsp_name AS dspName,
                a.industry AS industry,
                a.sub_industry AS subIndustry,
                c.dsp_id AS dspId,
                c.dsp_idea_id AS dspIdeaId,
                c.dsp_advertiser_id AS dspAdvertiserId,
                c.type AS type,
                c.title AS title,
                c.click_url AS clickUrl,
                c.android_url AS androidUrl,
                c.ios_url AS iosUrl,
                c.operator_id AS operatorId,
                c.operator_name AS operatorName,
                c.update_time AS updateTime,
                c.status AS status,
                c.reason AS reason,
                c.material AS material,
                c.account_status AS accountStatus,
                c.reason_ids AS reasonIds,
                c.advertiser_id AS advertiserId,
                c.data_status AS dataStatus,
                c.category AS category,
                c.version AS version,
                c.create_time AS createTime,
                c.operator_time AS operatorTime,
                COUNT(*) AS AuditNum
        FROM    ad_advertiser a,cr_idea c,ad_dsp d
        <where>
                <!--广告主表和创意表的关系以及创意和dsp的关系-->
                a.id = c.advertiser_id
                <!-- 未冻结状态 -->
                AND a.account_status = 0
                AND c.dsp_id = d.dsp_id
                <!-- 待审状态的数据并且数据有效  -->
                AND c.status = 0
                AND c.data_status = 0
                <!-- 广告主已审批状态的数据并且数据有效  -->
                AND a.status = 1
                AND a.data_status = 0
                AND a.dsp_advertiser_id = c.dsp_advertiser_id
                <!-- account_flag = 1  dsp为开启状态 -->
                AND d.account_flag = 1
                <!-- d.category = 1易效或者2NEX  -->
                <if test="category != null">
                    AND c.category = #{category}
                </if>
                <!-- dsp_id -->
                <if test="dspId != null">
                    AND c.dsp_id = #{dspId}
                </if>
                <!-- d.account_flag = 0  -->
                <if test="channel != null">
                    AND a.channel = #{channel}
                </if>
                <!--一级行业-->
                <if test="industry != null and industry != ''">
                    AND a.industry = #{industry}
                </if>
                <!--二级行业-->
                <if test="subIndustry != null and subIndustry != ''">
                    AND a.sub_industry = #{subIndustry}
                </if>
                <!--广告主id-->
                <if test="dspAdvertiserId != null">
                    AND c.dsp_advertiser_id = #{dspAdvertiserId}
                </if>
                <!--广告主名称-->
                <if test="dspAdvertiserId == null and  (name != null and name != '')">
                    AND a.name like CONCAT('%',#{name},'%')
                </if>
                <!--广告主id或者名称-->
                <if test="dspAdvertiserId != null and  (name != null and name != '')">
                    AND (c.dsp_advertiser_id like CONCAT('%',#{dspAdvertiserId},'%') or a.name like CONCAT('%',#{name},'%'))
                </if>
                <!--审批状态-->
                <if test="status != null ">
                    AND c.status = #{status}
                </if>
        </where>
        GROUP BY c.dsp_id ,c.dsp_advertiser_id
        <!--排序-如果能统一之后会抽出来公共使用此部分-->
        <if test="sort != null and sort!='' and  sort =='updateTime'">
            ORDER BY c.update_time
        </if>
        <if test="dir != null  and dir!=''  and dir =='ASC'">
            ASC
        </if>
        <if test="dir != null  and dir!=''  and dir =='DESC'">
            DESC
        </if>
    </select>


    <!-- .创意管理列表接口使用 -->
    <select id="selectAdvertiserAndIdea" parameterType="com.netease.ad.omp.vo.IdeaVo" resultType="com.netease.ad.omp.vo.IdeaVo">
        SELECT
                a.name as name,
                a.dsp_name as dspName,
                a.agent_name as agentName,
                a.industry as industry,
                a.sub_industry as subIndustry,
                <include refid="Idea_Column"/>
        FROM    ad_advertiser a,cr_idea c,ad_dsp d
        <where>
                <!--审核状态和广告主id-->
                a.id = c.advertiser_id
                AND c.dsp_id = d.dsp_id
                <!-- 未冻结状态 -->
                AND a.account_status = 0
                <!-- 待审状态的数据并且数据有效  -->
                AND c.status != 0
                AND c.data_status = 0
                <!-- 广告主已审批状态的数据并且数据有效  -->
                <!-- and  a.status = 1-->
                AND a.data_status = 0
                AND a.dsp_advertiser_id = c.dsp_advertiser_id
                <!-- account_flag = 1  dsp为开启状态 -->
                <!--AND d.account_flag = 1-->
                <!--产品线-->
                <if test="category != null">
                    AND a.category = #{category}
                </if>
                <!--代理商或者dsp-->
                <if test="dspAgentId != null">
                    AND (c.dsp_id = #{dspAgentId} OR a.agent_id = #{dspAgentId})
                </if>
                <!--广告主id-->
                <if test="dspAdvertiserId != null">
                    AND c.dsp_advertiser_id = #{dspAdvertiserId}
                </if>
                <!--广告主名称-->
                <if test="name != null and name != ''">
                    AND a.name like CONCAT('%',#{name},'%')
                </if>
                <!--创意id-->
                <if test="dspIdeaId != null">
                    AND c.dsp_idea_id = #{dspIdeaId}
                </if>
                <!--创意标题-->
                <if test="title != null and title != ''">
                    AND c.title like CONCAT('%',#{title},'%')
                </if>
                <!--展现形式-->
                <if test="type != null">
                    AND c.type = #{type}
                </if>
        </where>
    </select>

    <!--根据创意主键ids查询-->
    <select id="selectByIdeaIds" resultType="com.netease.ad.omp.vo.IdeaVo">
        SELECT
                <include refid="Idea_Column"/>,
                d.account_flag AS dspAccountFlag
        FROM    cr_idea c,ad_advertiser a,ad_dsp d
        <where>
                    c.advertiser_id = a.id
                AND c.data_status = 0
                AND a.status = 1
                AND a.data_status = 0
                AND a.account_status = 0
                AND c.dsp_id = d.dsp_id
                AND c.id IN
                <include refid="Include_InArray_ByIds"/>
        </where>
    </select>

    <!-- 选择性更新  带版本验证和版本更新 -->
    <update id="updateIdea" parameterType="com.netease.ad.omp.vo.IdeaVo">
        UPDATE cr_idea
        <set>
            <if test="dspId != null">
                dsp_id = #{dspId,jdbcType=BIGINT},
            </if>
            <if test="dspIdeaId != null">
                dsp_idea_id = #{dspIdeaId,jdbcType=BIGINT},
            </if>
            <if test="dspAdvertiserId != null">
                dsp_advertiser_id = #{dspAdvertiserId,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="clickUrl != null">
                click_url = #{clickUrl,jdbcType=VARCHAR},
            </if>
            <if test="androidUrl != null">
                android_url = #{androidUrl,jdbcType=VARCHAR},
            </if>
            <if test="iosUrl != null">
                ios_url = #{iosUrl,jdbcType=VARCHAR},
            </if>
            <if test="operatorId != null">
                operator_id = #{operatorId,jdbcType=INTEGER},
            </if>
            <if test="operatorName != null">
                operator_name = #{operatorName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="reason != null">
                reason = #{reason,jdbcType=VARCHAR},
            </if>
            <if test="material != null">
                material = #{material,jdbcType=VARCHAR},
            </if>
            <if test="accountStatus != null">
                account_status = #{accountStatus,jdbcType=INTEGER},
            </if>
            <if test="reasonIds != null">
                reason_ids = #{reasonIds,jdbcType=VARCHAR},
            </if>
            <if test="advertiserId != null">
                advertiser_id = #{advertiserId,jdbcType=BIGINT},
            </if>
            <if test="dataStatus != null">
                data_status = #{dataStatus,jdbcType=INTEGER},
            </if>
            <if test="category != null">
                category = #{category,jdbcType=INTEGER},
            </if>
            <if test="version != null">
                version = #{newVersion,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="operatorTime != null">
                operator_time = #{operatorTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <where>
            id = #{id,jdbcType=BIGINT}
            <if test="version != null and version != ''">AND version = #{version}</if>
        </where>
    </update>

    <!-- 根据dsp 和创意ids查询创意 -->
    <select id="selectIdeaListByDspIdAndIdeaIds" parameterType="com.netease.ad.omp.vo.IdeaVo" resultType="com.netease.ad.omp.vo.IdeaVo">
        SELECT
                <include refid="Idea_Column"/>
        FROM    cr_idea c
        <where>
                <if test="dspId != null">
                    AND c.dsp_id = #{dspId}
                </if>
                <if test="ids != null">
                    AND c.dsp_idea_id IN <include refid="Include_InArray_ByIds"/>
                </if>
        </where>
    </select>

    <!-- 根据dsp 和创意ids查询创意 接口用 -->
    <select id="selectIdeasForInterfaces" parameterType="com.netease.ad.omp.vo.IdeaVo"  resultType="com.netease.ad.omp.vo.IdeaVo">
        SELECT
                <include refid="Idea_Column"/>
        FROM    cr_idea c
        <where>
                c.dsp_id = #{dspId}
                AND c.dsp_advertiser_id=${dspAdvertiserId}
                AND c.dsp_idea_id
                IN
                <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
        </where>
    </select>

    <!--根据广告主ids查询-->
    <select id="selectByAdvertiserIds" resultType="com.netease.ad.omp.vo.IdeaVo">
        SELECT
                <include refid="Idea_Column"/>
        FROM    cr_idea c
        <where>
                c.advertiser_id IN <include refid="Include_InArray_ByIds"/>
        </where>
    </select>

    <!--根据广告主ids查询待审核创意-->
    <select id="selectIdeaByAdIdsForPA" resultType="com.netease.ad.omp.vo.IdeaVo">
        SELECT
                <include refid="Idea_Column"/>
        FROM    cr_idea c,ad_advertiser a
        <where>
                a.id = c.advertiser_id
                AND c.status =0
                AND a.account_status = 0
                AND c.advertiser_id IN <include refid="Include_InArray_ByIds"/>
        </where>
    </select>

    <!--根据3个dsp进行查询  请不要修改-->
    <select id="selectIdeaVoByThreeDSP" parameterType="com.netease.ad.omp.vo.IdeaVo" resultType="com.netease.ad.omp.vo.IdeaVo">
        SELECT
                <include refid="Idea_Column"/>
        FROM    cr_idea c ,ad_dsp d
        <where>
                <!--dsp 条件控制-->
                c.dsp_id = d.dsp_id
                AND d.account_flag = 1
                <if test="dspId != null">
                    AND c.dsp_id = #{dspId}
                </if>
                <if test="dspIdeaId != null">
                    AND c.dsp_idea_id = #{dspIdeaId}
                </if>
                <if test="dspAdvertiserId != null">
                    AND c.dsp_advertiser_id = #{dspAdvertiserId}
                </if>
        </where>
    </select>

    <!--选择性查询查询-->
    <select id="selectIdeaVo" parameterType="com.netease.ad.omp.vo.IdeaVo" resultType="com.netease.ad.omp.vo.IdeaVo">
        SELECT
                <include refid="Idea_Column"/>
        FROM    cr_idea c ,ad_dsp d
        <where>
                <!--dsp 条件控制-->
                c.dsp_id = d.dsp_id and d.account_flag = 1
                <if test="id != null ">
                    AND c.id = #{id}
                </if>
                <if test="dspId != null">
                    AND c.dsp_id = #{dspId}
                </if>
                <if test="dspIdeaId != null">
                    AND c.dsp_idea_id = #{dspIdeaId}
                </if>
                <if test="dspAdvertiserId != null">
                    AND c.dsp_advertiser_id = #{dspAdvertiserId}
                </if>
                <if test="type != null ">
                    AND c.type = #{type}
                </if>
                <if test="title != null and title != ''">
                    AND c.title like CONCAT('%',#{title},'%')
                </if>
                <if test="clickUrl != null and clickUrl != ''">
                    AND c.click_url = #{clickUrl}
                </if>
                <if test="androidUrl != null and androidUrl != ''">
                    AND c.android_url = #{androidUrl}
                </if>
                <if test="iosUrl != null and iosUrl != ''">
                    AND c.ios_url = #{iosUrl}
                </if>
                <if test="operatorId != null ">
                    AND c.operator_id = #{operatorId}
                </if>
                <if test="operatorName != null and operatorName != ''">
                    AND c.operator_name = #{operatorName}
                </if>
                <if test="updateTime != null and updateTime != ''">
                    AND c.update_time = #{updateTime}
                </if>
                <if test="status != null">
                    AND c.status = #{status}
                </if>
                <if test="reason != null and reason != ''">
                    AND c.reason = #{reason}
                </if>
                <if test="material != null and material != ''">
                    AND c.material = #{material}
                </if>
                <if test="accountStatus != null ">
                    AND c.account_status = #{accountStatus}
                </if>
                <if test="reasonIds != null and reasonIds != ''">
                    AND c.reason_ids = #{reasonIds}
                </if>
                <if test="advertiserId != null">
                    AND c.advertiser_id = #{advertiserId}
                </if>
                <if test="dataStatus != null">
                    AND c.data_status = #{dataStatus}
                </if>
                <if test="category != null">
                    AND c.category = #{category}
                </if>
                <if test="version != null and version != ''">
                    AND c.version = #{version}
                </if>
                <if test="createTime != null and createTime != ''">
                    AND c.create_time = #{createTime}
                </if>
                <if test="operatorTime != null and operatorTime != ''">
                    AND c.operator_time = #{operatorTime}
                </if>
        </where>
        <if test="sort == null or sort ==''">
            ORDER BY c.update_time  ASC ,c.id ASC
        </if>
    </select>

    <!-- nex业务平台实时获取创意详细信息  start-->
    <select id="getIdeasRealTime" parameterType="com.netease.ad.omp.vo.IdeaVo" resultType="com.netease.ad.omp.vo.IdeaVo">
        SELECT
                a.name AS name,
                c.create_time as subTime,
                <include refid="Idea_Column"/>
        FROM    ad_advertiser a ,cr_idea c,ad_dsp d
        <where>
                <!--dsp-->
                    a.dsp_advertiser_id = c.dsp_advertiser_id
                AND a.dsp_id = c.dsp_id
                AND c.dsp_id = d.dsp_id
                <if test="dspId != null">
                    AND c.dsp_id = #{dspId}
                </if>
                <!--status-->
                <if test="status != null">
                    AND c.status = #{status}
                </if>
                <!--广告主名称-->
                <if test="(name != null and name != '') or (title != null and title != '')">
                    AND (a.name like CONCAT('%',#{name},'%') OR c.title like CONCAT('%',#{title},'%'))
                </if>
                <!--开始时间 &gt;-->
                <if test="startTime != null and startTime != '' ">
                    AND DATE_FORMAT(c.update_time, '%Y-%m-%d') &gt;= #{startTime}
                </if>
                <!--结束时间 &lt;-->
                <if test="endTime != null and endTime != ''">
                    AND DATE_FORMAT(c.update_time, '%Y-%m-%d') &lt;= #{endTime}
                </if>
        </where>
    </select>
    <!-- nex业务平台实时获取创意详细信息  end-->

    <!-- 创意批量更新 -->
    <update id="batchUpdateIdea" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE cr_idea
            <set>
                <if test="item.dspId != null">
                    dsp_id = #{item.dspId},
                </if>
                <if test="item.dspIdeaId != null">
                    dsp_idea_id = #{item.dspIdeaId},
                </if>
                <if test="item.dspAdvertiserId != null">
                    dsp_advertiser_id = #{item.dspAdvertiserId},
                </if>
                <if test="item.type != null">
                    type = #{item.type},
                </if>
                <if test="item.title != null  and item.title!= ''">
                    title = #{item.title},
                </if>
                <if test="item.clickUrl != null  and item.clickUrl != ''">
                    click_url = #{item.clickUrl},
                </if>
                <if test="item.androidUrl != null  and item.androidUrl != ''">
                    android_url = #{item.androidUrl},
                </if>
                <if test="item.iosUrl != null and item.iosUrl != ''">
                    ios_url = #{item.iosUrl},
                </if>
                <if test="item.operatorId != null">
                    operator_id = #{item.operatorId},
                </if>
                <if test="item.operatorName != null  and item.operatorName != ''">
                    operator_name = #{item.operatorName},
                </if>
                <if test="item.updateTime != null  and item.updateTime != ''">
                    update_time = #{item.updateTime},
                </if>
                <if test="item.newVersion != null and item.newVersion != ''">
                    version = #{item.newVersion},
                </if>
                <if test="item.status != null">
                    status = #{item.status},
                </if>
                reason = #{item.reason},
                <if test="item.material != null  and item.material != ''">
                    material = #{item.material},
                </if>
                <if test="item.accountStatus != null">
                    account_status = #{item.accountStatus},
                </if>
                <if test="item.reasonIds != null and item.reasonIds != ''">
                    reason_ids = #{item.reasonIds},
                </if>
                <if test="item.advertiserId != null">
                    advertiser_id = #{item.advertiserId},
                </if>
                <if test="item.dataStatus != null">
                    data_status = #{item.dataStatus},
                </if>
                <if test="item.category != null">
                    category = #{item.category},
                </if>
                <if test="item.createTime != null and item.createTime!= ''">
                    create_time = #{item.createTime},
                </if>
                <if test="item.operatorTime != null and item.operatorTime != ''">
                    operator_time = #{item.operatorTime},
                </if>
            </set>
            <where>
                id = #{item.id}
                AND (select (count(*) > 0) FROM sys_user s WHERE s.user_id= #{item.operatorId} AND s.user_status = 0) =1
            </where>
        </foreach>
    </update>


    <!-- 查找审核过的广告主id -->
    <select id="selectAuditIdeaPointers" resultType="java.util.Map">
        SELECT
                c.advertiser_id AS id ,
                c.category as category ,
                c.update_time AS updateTime
        FROM    cr_idea c ,ad_advertiser a ,ad_dsp d
        WHERE
                    c.advertiser_id = a.id
                AND a.status = 1
                AND a.data_status = 0
                AND c.dsp_id = d.dsp_id
                AND c.account_status = 0
                AND c.data_status = 0
                AND c.status= 0
                AND d.account_flag = 1
        GROUP BY    c.advertiser_id,c.update_time
        ORDER BY    c.update_time ASC
    </select>


    <!-- 防止redis挂掉没有数据后的，每天24点数据补偿机制专用 -->
    <select id="selectIdeaToAuditAll"  resultType="com.netease.ad.omp.vo.IdeaVo">
        SELECT
                <include refid="Idea_Column"/>
        FROM    cr_idea c ,ad_advertiser a ,ad_dsp d
        WHERE
                c.advertiser_id = a.id
                AND a.status = 1
                AND a.data_status = 0
                AND c.dsp_id = d.dsp_id
                AND c.account_status = 0
                AND c.data_status = 0
                AND c.status != 0
                AND d.account_flag = 1
    </select>

    <insert id="insertIdeaVo" parameterType="com.netease.ad.omp.vo.IdeaVo"
            useGeneratedKeys="true" keyProperty="id" >
        insert into cr_idea (
        dsp_id,
        dsp_idea_id,
        dsp_advertiser_id,
        type,
        title,
        click_url,
        android_url,
        ios_url,
        operator_id,
        operator_name,
        update_time,
        status,
        reason,
        material,
        account_status,
        reason_ids,
        advertiser_id,
        data_status,
        category,
        version,
        create_time,
        operator_time
        )
        values (
            #{dspId,jdbcType=BIGINT},
            #{dspIdeaId,jdbcType=BIGINT},
            #{dspAdvertiserId,jdbcType=BIGINT},
            #{type,jdbcType=INTEGER},
            #{title,jdbcType=VARCHAR},
            #{clickUrl,jdbcType=VARCHAR},
            #{androidUrl,jdbcType=VARCHAR},
            #{iosUrl,jdbcType=VARCHAR},
            #{operatorId,jdbcType=INTEGER},
            #{operatorName,jdbcType=VARCHAR},
            #{updateTime,jdbcType=TIMESTAMP},
            #{status,jdbcType=INTEGER},
            #{reason,jdbcType=VARCHAR},
            #{material,jdbcType=VARCHAR},
            #{accountStatus,jdbcType=INTEGER},
            #{reasonIds,jdbcType=VARCHAR},
            #{advertiserId,jdbcType=BIGINT},
            #{dataStatus,jdbcType=INTEGER},
            #{category,jdbcType=INTEGER},
            #{version,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{operatorTime,jdbcType=TIMESTAMP}
        )
    </insert>



</mapper>