<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.netease.ad.omp.dao.stat.mapper.AdvertiserStatMapper">

   <!-- 查找待审核广告主数量-->
   <select id="selectAdvertiserNeedAudits" resultType="com.netease.ad.omp.entity.stat.StatResult" >
	   	 SELECT
			ai.category AS type,
			COUNT(ai.id) AS num
		FROM
			ad_advertiser AS ai
		WHERE
			ai.`status` = 0
		AND ai.data_status = 0
		AND ai.id IN (
            SELECT
            a.id
            FROM
            ad_advertiser AS a
            JOIN ad_dsp AS dsp ON a.dsp_id = dsp.dsp_id
            WHERE
            dsp.account_flag = 1
            OR (dsp.account_flag = 0 AND a.status != 0 )
            OR a.dsp_id = 100000
            )
		GROUP BY
			ai.category
   </select>
   
      <!-- 查找待审核广告主创意数量-->
   <select id="selectAdvertiserIdeaNeedAudits" resultType="com.netease.ad.omp.entity.stat.StatResult" >
	   	SELECT
			ci.category AS type,
			COUNT(ci.id) AS num
		FROM
			cr_idea AS ci,
      ad_advertiser AS ad
		WHERE
			ci.`status` = 0
		AND ci.data_status = 0
    AND ci.advertiser_id = ad.id
    AND ad.`status` = 1
		AND ci.id IN (
            SELECT
            c.id
            FROM
            cr_idea AS c
            JOIN ad_dsp AS dsp ON c.dsp_id = dsp.dsp_id
            WHERE
            dsp.account_flag = 1
            OR (dsp.account_flag = 0 AND c.status != 0 )
            OR c.dsp_id = 100000
            )
		GROUP BY
			ci.category
   </select>
   
   
      <!-- 查找审核广告主数量-->
   <select id="selectAdvertiserAudits" parameterType="java.util.Map" resultType="com.netease.ad.omp.entity.stat.StatResult" >
	   SELECT
	   	   u.user_id AS userId  ,
	   	   u.user_name AS userName,
	   	   u.user_status AS userStatus,
	   	   ai.category AS type,
	   	   COUNT(ai.id) AS num
	   	FROM sys_user AS u
		LEFT JOIN ad_advertiser_aduit_logs as ai ON u.user_id = ai.operator_id
		WHERE
	     u.data_status = 0
      AND ai.last_aduit_status = 0
      AND ai.create_time BETWEEN #{startTime} AND #{endTime}
		GROUP BY u.user_id , ai.category 
   </select>
   
      <!-- 查找审核广告主创意数量-->
   <select id="selectIdeaAudits" parameterType="java.util.Map" resultType="com.netease.ad.omp.entity.stat.StatResult" >
	   SELECT 
	       u.user_id AS userId  , 
	   	   u.user_name AS userName,
	   	   u.user_status AS userStatus,
	   	   ci.category AS type,
	   	   COUNT(ci.id) AS num
	    FROM sys_user AS u
		LEFT JOIN cr_idea_aduit_log as ci ON u.user_id = ci.operator_id
		WHERE
		   u.data_status = 0
		  AND ci.last_status = 0
      AND ci.create_time BETWEEN #{startTime} AND #{endTime}
		GROUP BY u.user_id , ci.category
   </select>

	<!-- 删除指定日期范围内的广告主小时收入统计数据 -->
	<delete id="deleteAdvertiserHourRevenue" parameterType="java.util.HashMap">
		DELETE FROM sta_adv_hour_revenue WHERE sta_date> #{startTime} and #{endTime}>= sta_date
	</delete>

	<!-- 插入广告主、行业小时收入数据 -->
	<insert id="insertAdvertiserHourRevenue" parameterType="java.util.List">
		INSERT INTO sta_adv_hour_revenue(sta_date,advertiser_id,category,industry_id,sub_industry_id,expend,exposures,clicks,create_time,update_time)
		VALUES
		<foreach collection ="list" item="advHourRevenue" index= "index" separator =",">
		  (
			#{advHourRevenue.staDate},#{advHourRevenue.advertiserId},#{advHourRevenue.category},#{advHourRevenue.industryId},#{advHourRevenue.subIndustryId},#{advHourRevenue.expend},
		 	#{advHourRevenue.exposures},#{advHourRevenue.clicks},#{advHourRevenue.createTime},#{advHourRevenue.updateTime}
		  )
		</foreach >
	</insert>

	<!-- 删除指定日期范围内的广告主、行业天收入统计数据 -->
	<delete id="deleteAdvertiserDayRevenue" parameterType="java.util.HashMap">
		DELETE FROM sta_adv_day_revenue WHERE sta_date>= #{startTime} and #{endTime}>= sta_date
	</delete>

	<!-- 插入广告主、行业天收入数据 -->
	<insert id="insertAdvertiserDayRevenue" parameterType="java.lang.Long">
		INSERT INTO sta_adv_day_revenue(sta_date,advertiser_id,category,industry_id,sub_industry_id,revenue,expend,exposures,clicks,create_time,update_time)
		SELECT t.sta_day,t.advertiser_id,SUM(t.revenue) AS revenue,SUM(t.expend) AS expend,SUM(t.exposures) AS exposures,SUM(t.clicks) clicks,NOW(),NOW()
		FROM (
				SELECT SUBSTR(sta_date,1,8) sta_day,advertiser_id,category,industry_id,sub_industry_id,revenue,expend,exposures,clicks
				FROM sta_adv_hour_revenue WHERE SUBSTR(sta_date,1,8) = #{day}
			) t GROUP BY t.sta_day,t.advertiser_id,t.industry_id,t.sub_industry_id

	</insert>

	<!-- 查询广告主收入列表数据 -->
	<select id="selectAdvertiserRevenue" parameterType="com.netease.ad.omp.web.controller.stat.vo.AdvRevenueQueryVo" resultType="com.netease.ad.omp.vo.AdvRevenueVo">
		SELECT 	r.advertiser_id AS advertiserId,a.advertiserName,a.channel,a.channelName,a.agentId,a.agentName,
				r.industry_id AS industryId,r.sub_industry_id AS subIndustryId,r.revenue,r.expend,r.exposures,r.clicks,a.channel
		FROM 	(
					SELECT 	sta_date,advertiser_id,industry_id,sub_industry_id,SUM(revenue) AS revenue,
							SUM(expend) AS expend,SUM(exposures) exposures,SUM(clicks) AS clicks
					FROM sta_adv_day_revenue
					WHERE category=1
					<if test="startTime != null and startTime !='' ">
						AND sta_date >= #{startTime}
					</if>
					<if test="endTime != null and endTime !='' ">
						AND #{endTime} >= sta_date
					</if>
					GROUP BY advertiser_id,industry_id,sub_industry_id
				) r
		LEFT JOIN (
						SELECT ad.dsp_advertiser_id,
						ad.name AS advertiserName,
						p.id AS industry_id,
						s.id AS sub_industry_id,
						ad.channel,
						(CASE WHEN ad.channel=1 THEN '直客' WHEN ad.channel=2 THEN '代理商' END ) AS channelName,
						ad.agent_id AS agentId,
						ad.agent_name AS agentName,
						CONCAT(p.name, '-', s.name) AS industry
						FROM ad_advertiser AS ad
						LEFT JOIN sys_industry p
						ON ad.industry = p.id
						LEFT JOIN sys_industry s
						ON ad.sub_industry = s.id
						WHERE ad.data_status = 0 AND ad.category=1
					) a
		ON a.dsp_advertiser_id = r.advertiser_id
		WHERE a.industry_id = r.industry_id AND a.sub_industry_id = r.sub_industry_id
		<if test="channel != null ">
			AND a.channel = #{channel}
		</if>
		GROUP BY a.agentId
		ORDER BY r.advertiser_id
	</select>

</mapper>