  <div id="deletemodal" class="modal fade modal-danger" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--<form id="delete_interface_confirm">-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="deleteModalLabel">Danger</h4>
                </div>
                <div class="modal-body">
                        <p>确定要删除记录吗？&hellip;</p>
                        <input type="hidden" name="recordid" id="recordid">
                </div>
                <!-- /.div-modal-body-->
                <div class="modal-footer">
                    <button type="button" id="close_modal" class="btn btn-outline pull-left" data-dismiss="modal">取消</button>
                    <button type="button" id="delete_in_btn"class="btn btn-outline">确认</button>
                </div>
                <!-- /.div-modal-footer-->
                <!--</form>-->
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
  </div>