{% extends "adminlte/base.html" %}
{% load static %}
{% block content_title %}
    {{ page_title }}
{% endblock %}

{% block content %}

<style>
  .special {
    font-style: italic;
    font-weight: bold !important;
    color:#bcffff !important;
    background:#000;
  }
  .modal {height=80%;top:15%;}
  .alert {height=80%;width:50%}
</style>
{% if '操作' in error  %}
        <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-info"></i> 消息</h4>
                {{error}}
        </div>
{% endif %}
<div class="box box-primary">
    <div class="row" id="commonDataTableRow">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                        <table class="table table-bordered table-striped">
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="input-group">
                                <input type="text" name="search"
                                       id="query_name"
                                       class="form-control input-sm pull-right"
                                       style="width: 110px;"
                                       placeholder="请输入接口名称"
                                       v-on:keypress.13="search">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-default" id="delete_name_btn">
                                        <i class="fa fa-times-circle"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="input-group">
                                <select id="query_product" name="query_product" style="width:130px;height:30px;font-size:13px;">
                                        <option value="">选择所属项目</option>
                                        {% for product in productlist %}
                                        <option value="{{product.id}}">{{product.product_name}}</option>
                                        {% endfor %}
                                </select>
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-default" id="delete_product_btn">
                                        <i class="fa fa-times-circle"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                         <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="input-group" style="width:130px;height:30px;">
                                   <select id="query_level" name="query_level" style="width:100px;height:30px;font-size:13px;">
                                        <option value="">选择优先级</option>
                                        {% for key,value in levelchoices %}
                                        <option value="{{key}}">{{value}}</option>
                                        {% endfor %}
                                    </select>
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-default" id="delete_level_btn">
                                        <i class="fa fa-times-circle"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                        </div>
                         <div class="col-xs-6 col-sm-3 col-md-1">
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3">
                                <button class="btn btn-danger btn-sm pull-right" id="delete_btn">
                                    <i class="fa fa-trash-o"></i>
                                    删除
                                </button>
                                <button class="btn btn-primary btn-sm pull-right" id="createinf_btn">
                                    <i class="fa fa-plus"></i>
                                    新增
                                </button>
                                <button class="btn btn-success btn-sm pull-right" id="search_btn" >
                                        <i class="fa fa-search"></i>查询
                                </button>

                        </div>
                        </table>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding" style="text-overflow:ellipsis;width:100%;white-space:nowrap;">
                    <table class="table table-hover table no-padding">
                    <thead>
                    <tr>
                    <th>
                        <span class="handle">
                                    <i class="fa fa-ellipsis-v"></i>
                                    <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <input type="checkbox" name="selectallif" id="selectallif" value="">
                    </th>
                    <th>接口名称</th>
                    <th>所属项目</th>
                    <th>所属模块</th>
                    <th>接口描述</th>
                    <th>请求url</th>
                    <th>请求方法</th>
                    <th>默认参数</th>
                    <th>优先级</th>
                    <th>用例个数</th>
                    <th>操作</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>

                      {% for interface in pages.object_list %}
                      <th>
                          <span class="handle">
                                    <i class="fa fa-ellipsis-v"></i>
                                    <i class="fa fa-ellipsis-v"></i>
                          </span>
                          <input type="checkbox" name="selectcb" value="{{interface.id}}">
                      </th>
                      <th>
                          <table class="fixed-table">
                              <tr>
                                  <td data-toggle="popover" title="{{interface.name}}">
                                    <span class="text">{{interface.name}}</span>
                                  </td>
                              </tr>
                          </table>
                      </th>
                      <th>
                          <span class="text">{{interface.product.product_name}}</span>
                      </th>
                      <th>
                          <span class="text">{{interface.module.module_name}}</span>
                      </th>
                      <th>
                          <table class="fixed-table">
                              <tr>
                                  <td data-toggle="popover" title="{{interface.detail}}">
                                    <span class="text">{{interface.detail}}</span>
                                  </td>
                              </tr>
                          </table>
                      </th>
                      <th>
                          <table class="fixed-table">
                              <tr>
                                  <td data-toggle="popover" title="{{interface.req_url}}">
                                    <span class="text">{{interface.req_url}}</span>
                                  </td>
                              </tr>
                          </table>
                      </th>
                      <th>
                          <span class="text">{{interface.get_reqmethod_display}}</span>
                      </th>
                      <th>
                          <table class="fixed-table">
                              <tr>
                                  <td data-toggle="popover" title="{{interface.default_param}}">
                                    <span class="text">{{interface.default_param}}</span>
                                  </td>
                              </tr>
                          </table>
                      </th>
                      <th>
                          <span class="text">{{interface.get_level_display}}</span>
                      </th>
                      <th>
                          <span class="text">{{interface.countTestcase}}</span>
                      </th>
                      <th>
                          <div class="tools">
                              <a id="edit{{interface.id}}" onclick='edit("{{interface.id}}")' data-toggle="tooltip" title="编辑" data-placement="bottom"><i class="fa fa-edit"></i></a>
                              <a id="delete{{interface.id}}" onclick='deleteif("{{interface.id}}")' data-toggle="tooltip" title="删除" data-placement="bottom"><i class="fa fa-trash-o"></i></a>
                              <a id="view{{interface.id}}" onclick='view("{{interface.id}}")' data-toggle="tooltip" title="查看用例列表" data-placement="bottom"><i class="fa fa-fw fa-arrow-circle-o-right"></i></a>
                          </div>
                       </th>
                   </tr>
                    {% endfor %}
                  </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                        {% include 'adminlte/common_list_pagination.html' %}
                </div>
            </div>
        </div>
    </div>
     <!-- /.modal-dialog-delete -->
    {% include "deletemodal.html" %}
    <script>
     function deleteinfo(reid){
         $("#deletemodal").removeClass("modal-warning");
         $("#deletemodal").addClass("modal-danger");
         $("h4").text("危险");
         $("p").text("确定要删除记录吗？");
         $("#delete_in_btn").show();
         $("#close_modal").text('取消');
         $('#recordid').val(reid)
         $('#deletemodal').modal('show')
     }
     function gopage(num)
     {
        document.location.href = '/interface/list?&page='+num
     }
    $(function() {
      $("#createinf_btn").click(function(){
         document.location.href = "/interface/create/";
      });
      $("#delete_name_btn").click(function(){
           $("#query_name").val("")
      });
      $("#delete_product_btn").click(function(){
           $("#query_product").val("")
      });
      $("#delete_level_btn").click(function(){
           $("#query_level").val("")
      });
      $("#search_btn").click(function(){
           document.location.href = '/interface/list'+'?name='+$("#query_name").val()+'&producid='+$("#query_product").val()+'&level='+$("#query_level").val();
      });
      $("#delete_btn").click(function(){
           var count = 0
           var deleterecord = ''
           $("input[name='selectcb']:checked").each(function(){
                 count++ ;
                 deleterecord +=this.value +','
           });
           if ($("p").text().indexOf("记录") >= 0 && deleterecord.length >0 ){
                deleteinfo(deleterecord)
           }
           if ( count==0){
                $("#deletemodal").removeClass("modal-danger");
                $("#deletemodal").addClass("modal-warning");
                $("#delete_in_btn").hide();
                $("h4").text("警告");
                $("#close_modal").text('关闭');
                $("p").text("请选择至少一条记录!");
                $('#deletemodal').modal('show')
           }
      });
      $("#delete_in_btn").click(function(){
             $.ajax({
                url: "/interface/delete",
                type: "POST",
                dataType: "json",
                data: "interfaceid="+$('#recordid').val(),
                success:function(data) {
                        alert(data.error)
                        document.location.href = '/interface/list/'
                    }
                });
      });
      $("#selectallif").click(function(){
            $("input[name='selectcb']").prop("checked",$(this).prop("checked"));
      });
   });
   function edit(id){
        document.location.href = '/interface/edit'+'?interfaceid='+id
   }
   function view(id){
        document.location.href = '/interface/tclist/interface'+id;
   }
   function deleteif(id){
        deleteinfo(id);
   }
   $(function () { $("[data-toggle='tooltip']").tooltip(); });
</script>
{% endblock %}