<!-- 广告主 易效管理 -->
<div id="omp-advertisermanage-yixiao">
    <!-- 页面标题导航  -->
    <!-- 提示窗弹窗 -->
    <div ng-include="'./common/template/popError.html'"></div>
    <p>易效广告主管理列表</p>
    <!-- 页面内容区 -->
    <div class="omp-content">
        <div class="omp-search">
            <!-- 渠道 -->
            <label>渠道</label>
            <div class="omp-select1">
                <span>{{search.way.name}}</span>
                <select ng-model="search.way" ng-options="node.name for node in search.channel">
                    <option value="" ng-if="false"></option>
                </select>
            </div>
            <!-- 一级行业 -->
            <label>行业</label>
            <div class="omp-select2">
                <span>{{search.sup.name}}</span>
                <select ng-model="search.sup" ng-options="node.name for node in search.industry" ng-change="event.industry(search.sup.id)">
                    <option value="" ng-if="false"></option>
                </select>
            </div>
            <!-- 二级行业 -->
            <div class="omp-select2">
                <span>{{search.sub.name}}</span>
                <select ng-model="search.sub" ng-options="node.name for node in search.subIndustry">
                    <option value="" ng-if="false"></option>
                </select>
            </div>
            <label>广告主ID/名称</label>
            <div class="omp-input-container">
                <label>{{data.inputWarning}}</label>
                <input type="text" ng-blur="event.inputLengthCheck(search.input)" ng-model="search.input">
                <button ng-click="event.search()">查询</button>
            </div>
            <div class="omp-middle-flag"></div>
        </div>
        <div class="omp-list">
            <div class="omp-list-head">
                <table>
                    <tr>
                        <th class="col-6">广告主ID</th>
                        <th class="col-16">广告主名称</th>
                        <th class="col-8">账户状态</th>
                        <th class="col-8">所属行业</th>
                        <!--
                        <th class="col-7 omp-button-sort" ng-click="event.sort('account_left')">
                            <p>账户余额</p>
                            <a class="omp-sort-up" ng-hide="data.sortDir === 'DESC' && data.sortKey === 'account_left'"></a>
                            <a class="omp-sort-down" ng-hide="data.sortDir === 'ASC' && data.sortKey === 'account_left'"></a>
                        </th>
                        <th class="col-11 omp-button-sort" ng-click="event.sort('now_creativity_num')">
                            <p>在投创意数量</p>
                            <a class="omp-sort-up" ng-hide="data.sortDir === 'DESC' && data.sortKey === 'now_creativity_num'"></a>
                            <a class="omp-sort-down" ng-hide="data.sortDir === 'ASC' && data.sortKey === 'now_creativity_num'"></a>
                        </th>
                        <th class="col-8 omp-button-sort" ng-click="event.sort('total_creativity_num')">
                            <p>总创意数</p>
                            <a class="omp-sort-up" ng-hide="data.sortDir === 'DESC' && data.sortKey === 'total_creativity_num'"></a>
                            <a class="omp-sort-down" ng-hide="data.sortDir === 'ASC' && data.sortKey === 'total_creativity_num'"></a>
                        </th>
                        <th class="col-12 omp-button-sort" ng-click="event.sort('refuse_creativity_num')">
                            <p>被拒登创意数量</p>
                            <a class="omp-sort-up" ng-hide="data.sortDir === 'DESC' && data.sortKey === 'refuse_creativity_num'"></a>
                            <a class="omp-sort-down" ng-hide="data.sortDir === 'ASC' && data.sortKey === 'refuse_creativity_num'"></a>
                        </th>
                        -->
                        <th class="col-8">账户余额</th>
                        <th class="col-10">在投创意数量</th>
                        <th class="col-7">总创意数</th>
                        <th class="col-10">被拒登创意数量</th>
                        <th class="col-6">渠道</th>
                        <th class="col-8">所属代理商</th>
                        <!--<th class="omp-button-sort" ng-click="event.sort('register_time')">
                            <p>注册时间</p>
                            <a class="omp-sort-up" ng-hide="data.sortDir === 'DESC' && data.sortKey === 'register_time'"></a>
                            <a class="omp-sort-down" ng-hide="data.sortDir === 'ASC' && data.sortKey === 'register_time'"></a>
                        </th>-->
                        <th style="text-align: center">注册时间</th>
                    </tr>
                </table>
            </div>
            <div class="omp-list-data">
                <p class="omp-list-data-none" ng-show="data.total === 0">该查询条件下无数据</p>
                <table ng-show="data.total > 0">
                    <tr ng-repeat="node in list" ng-class-odd="'omp-list-odd-line'">
                        <td class="col-6">
                            <p class="padding-20">{{node.dspAdvertiserId | checkNull}}</p>
                        </td>
                        <td class="col-16">
                            <a class="padding-10 a-manage" ng-click="event.show(node.dspAdvertiserId)">{{node.name | checkNull}}</a>
                        </td>
                        <td class="col-8">
                            <p class="padding-23">{{node.accountStatusStr | checkNull}}</p>
                        </td>
                        <td class="col-8">
                            <p class="padding-15">{{node.industryDetail | checkNull}}</p>
                        </td>
                        <td class="col-8">
                            <p class="padding-20">{{node.accountLeft ? (node.accountLeft | currency : '') : '--'}}</p>
                        </td>
                        <td class="col-10">
                            <p class="padding-30">{{node.nowCreativityNum | number | checkNull}}</p>
                        </td>
                        <td class="col-7">
                            <p class="padding-27">{{node.totalCreativityNum ? (node.totalCreativityNum | number | checkNull) : '--'}}</p>
                        </td>
                        <td class="col-10">
                            <p class="padding-30">{{node.refuseCreativityNum | number | checkNull}}</p>
                        </td>
                        <td class="col-6">
                            <p class="padding-20">{{node.channelStr | checkNull}}</p>
                        </td>
                        <td class="col-8">
                            <p class="padding-20">{{node.agentName | checkNull}}</p>
                        </td>
                        <td style="text-align: center">
                            <p class="padding-5">{{node.registerTimeStr | checkNull}}</p>
                        </td>
                    </tr>
                </table>
            </div>
            <page-filter></page-filter>
        </div>
    </div>
</div>
