<!-- 广告主 NEX 详情查看 & 冻结/解冻 -->
<div id="omp-advertiser-show">
    <!-- 提示窗弹窗 -->
    <div ng-include="'./common/template/popError.html'"></div>
    <div ng-include="'./common/template/popSuccess.html'"></div>
    <div ng-include="'./common/template/popConfirm.html'"></div>
    <!-- 页面标题导航  -->
    <p><a ng-click="event.link()">易效广告主管理列表</a> &gt; {{info.name | checkNull}}</p>
    <!-- 页面内容区域 -->
    <div class="omp-content">
        <!-- 广告主基本信息 -->
        <div class="opm-advertiser-info">
            <h4>账户基本信息</h4>
            <table class="omp-advertiser-info-table">
                <tr>
                    <td>广告主ID<span>:</span>{{info.dspAdvertiserId | checkNull}}</td>
                    <td>广告主名称<span>:</span>{{info.name | checkNull}}</td>
                </tr>
                <tr>
                    <td>账户状态<span>:</span>{{info.accountStatusStr | checkNull}}</td>
                    <td>渠道<span>:</span>{{info.channelStr | checkNull}}</td>
                </tr>
                <tr>
                    <td>所属代理商<span>:</span>{{info.agentName | checkNull}}</td>
                    <td>广告主网站<span>:</span><a target="_blank" href="{{info.url | checkHTTP}}">{{info.url}}</a></td>
                </tr>
                <tr>
                    <td>行业<span>:</span>{{info.industryDetail | checkNull}}</td>
                    <td>联系人<span>:</span>{{info.contacter | checkNull}}</td>
                </tr>
                <tr>
                    <td>密保电话<span>:</span>{{info.tel | checkNull}}</td>
                    <td>密保邮箱<span>:</span>{{info.email | checkNull}}</td>
                </tr>
                <tr>
                    <td>通讯地址<span>:</span>{{info.address | checkNull}}</td>
                    <td>注册时间<span>:</span>{{info.registerTimeStr | checkNull}}</td>
                </tr>
            </table>
            <div class="hr"></div>
            <h4>资金信息</h4>
            <table class="omp-advertiser-info-table omp-advertiser-small-table">
                <tr>
                    <td>账户余额<span>:</span>{{info.accountLeft | currency}}元</td>
                    <td>累计充值<span>:</span>{{info.totalRecharge | currency}}元</td>
                    <td>累计消费<span>:</span>{{info.totalExpense | currency}}元</td>
                </tr>
            </table>
            <div class="hr"></div>
            <h4>创意数据</h4>
            <table class="omp-advertiser-info-table omp-advertiser-mini-table omp-advertiser-box-table">
                <tr>
                    <th>总创意数</th>
                    <th>待审核创意数</th>
                    <th>已通过创意数</th>
                    <th>未通过创意数</th>
                </tr>
                <tr>
                    <td>{{info.totalRefuse ? (info.totalRefuse | number | checkNull) : '--'}}</td>
                    <td>{{info.unauditRefuse ? (info.unauditRefuse | number | checkNull) : '--'}}</td>
                    <td>{{info.auditSuccessRefuse ? (info.auditSuccessRefuse | number | checkNull) : '--'}}</td>
                    <td>{{info.auditFailRefuse ? (info.auditFailRefuse | number | checkNull) : '--'}}</td>
                </tr>
            </table>
            <div class="hr"></div>
            <h4>操作</h4>
            <table class="omp-advertiser-info-table omp-advertiser-inline-table">
                <tr>
                    <td class="explain">冻结<b ng-mouseenter="event.explain($event)" ng-mouseleave="event.explainHide($event)"></b><span class="tips">开关开启为冻结状态;关闭为非冻结状态</span><span>:</span></td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <div class="table-toggle">
                            <input id="cmn-toggle-{{status.id}}" class="cmn-toggle cmn-toggle-round" type="checkbox" ng-checked="status.freeze">
                            <label ng-click="event.openSwitch()"></label>
                        </div>
                    </td>
                </tr>
            </table>
            <button class="btn-back" ng-click="event.link()">返回</button>
        </div>
        <!-- 二级路由 -->
        <div ui-view></div>
    </div>
</div>
